<!DOCTYPE html>
<html lang="zh">
<%= require('@layouts/head.ejs')() %>
<body>
    <header class="headernew">
        <a class="back"></a>
        <h2>预约</h2>
    </header>
    <section class="appointment">
		<ul>
            <li>日</li>
            <li>一</li>
            <li>二</li>
            <li>三</li>
            <li>四</li>
            <li>五</li>
            <li>六</li>
        </ul>
        <ul class="datelist">
        </ul>
	</form>
    </section>
<%= require('@layouts/footer.ejs')({footer:false})%>
</body>

</html>