<%let {grade}=require("../../mock.json")%>
    <div class="concat_school">
        <div class="box">
            <h3><span>免费联系KSS深圳国王学校</span></h3>
            <p class="tip1">每天限<span>50</span>个名额</p>
            <form class="layui-form" action="/test" method="post">
                <div class="input">
                    <input type="text" name="name" placeholder="请输入学生姓名" lay-verify="concat_name">
                </div>
                <div class="input">
                    <select name="grade" lay-verify="concat_grade">
                        <option value="">孩子或学生在读年级</option>
                        <%grade.forEach((el)=>{%>
                            <option value="<%=el%>"><%=el%></option>
                        <%})%>
                    </select>
                </div>
                <div class="input-wrap">
                    <div class="input">
                        <select name="province" id="concat_provice" lay-verify="concat_provice"
                            lay-filter="concat_provice">
                            <option value="">省份</option>
                        </select>
                    </div>
                    <div class="input">
                        <select name="city" id="concat_city" lay-verify="concat_city" lay-filter="concat_city">
                            <option value="">城市</option>
                        </select>
                    </div>
                </div>
                <div class="input">
                    <input type="text" name="mobile" placeholder="输入手机号，联系方式将短信发给您" lay-verify="concat_mobile">
                </div>
                <div class="btn">
                    <button lay-submit="" lay-filter="concat_submit"><i></i>免费提交</button>
                    <a hre1f=""><span><i></i></span>联系学校</a>
                </div>
                <p class="tip2">提交成功后可以直接一键联系学校哦!</p>
            </div>
        </form>
    </div>
</div>