<!DOCTYPE html>
<html lang="zh">
<%= require('@layouts/head.ejs')() %>
<body>
    <header class="headernew">
    	<a class="back"></a>
        <img src="<%= require('@images/logo.png')%>" alt="国际教育网">
    </header>
    <section class="section" style="background-image: url(<%= require('@images/loginbg.png')%>);">
        <h2 class="title">欢迎注册国际教育网</h2>
        <div class="login">
            <div class="content">
                <form action="">
                    <div class="input user">
                        <input type="text" placeholder="请输入手机号码" name="phone" nullmsg="请输入手机号码" errormsg="手机号格式不正确" datatype="phone">
                    </div>
                    <div class="input psd">
                        <input type="password" placeholder="请输入密码" name="pwd" nullmsg="请输入密码" errormsg="请输入6-18位数密码" datatype="passport">
                    </div>
                    <div class="input verify">
                        <input type="text" placeholder="请输入验证码" name="verify" nullmsg="请输入验证码">
                        <input type="button" class="getCode" value="获取验证码">
                    </div>
                    <p class="tool-bottom top"><a>注册即同意</a><a href="">国际教育网用户协议</a> </p>
                    <button class="submit bt-reg" success="注册成功" error="注册失败" href="personal.html">注册</button>
                </form>
            </div>
        </div>
    </section>
	<%= require('@layouts/footer.ejs')({footer:true})%>
</body>
</html>