<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Content-Security-Policy" content="form-action 'self' *.ieduchina.com;">
    <link href="//m.ieduchina.com/favicon.ico" rel="Shortcut Icon" />
    <!-- <link rel="stylesheet" href="//m.ieduchina.com/statics/css/swiper.min.css"> -->
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/main.css?t=1626329779">
    <!-- <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/university.css?t=1626329779" /> -->
    <script type="text/javascript" src="//m.ieduchina.com/statics/js/jquery-1.8.3.js"></script>
    <!-- <script type="text/javascript" src="//m.ieduchina.com/statics/js/fastclick.js"></script> -->
    <script type="text/javascript" src="//m.ieduchina.com/statics/m/js/main.js?t=1626329779"></script>
    <!-- <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/school_apply.css" /> -->
    <title>反馈_国际教育网</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/activity.css?t=1626329779">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/w/css/common.css?t=1626329779">
    <script type="text/javascript" src="//m.ieduchina.com/statics/w/js/common.js?t=1626329779"></script>
	<style>
		input[type='text'],input[type='email']{
			border:1px solid #cfcfcf;
		}
		.tougBtn{
			background: #035297;
		}
	</style>
</head>

<body>
<header class="headernav">
    <div id="wap_ad_top">
    <script type="text/javascript">
        adCommon('wap_ad_top');
    </script>
</div>
    <div class="header">
        <a href="//m.ieduchina.com/search/">
            <div class="left">
                <img src="//m.ieduchina.com/statics/w/img/search.png?t=1214" alt="">
            </div>
        </a>
        <h1>
            <a href="//m.ieduchina.com">
                <img src="//m.ieduchina.com/statics/w/img/logol.png?t=1214" alt="">
            </a>
        </h1>
        <div class="right" id="menu">
            <img src="//m.ieduchina.com/statics/w/img/menu.png?t=1214" alt="">
        </div>
    </div>
    <div class="topmenu">
        <ul>
            <li  >
                <a href="//m.ieduchina.com">首页</a>
            </li>
            <li>
                <a href="//schoollist.m.ieduchina.com/">学校</a>
            </li>
            <li >
                <a href="//m.ieduchina.com/parents/">亲子</a>
            </li>
            <li>
                <a href="//m.ieduchina.com/topic/ruxue/">升学</a>
            </li>
            <li>
                <a href="//m.ieduchina.com/topic/abroad/">留学</a>
            </li>
            <li>
                <a href="//m.ieduchina.com/#ziyuan">资源</a>
            </li>
        </ul>
    </div>
    <div class="index-menu-wrap">
        <div class="index-menu">
            <div class="title">
                全部频道<div class="close-menu"></div>
            </div>
            <h2>资讯</h2>
            <ul>
                <li><a href="//m.ieduchina.com/school/">校园资讯</a></li>
                <li><a href="//m.ieduchina.com/parents/">家庭教育</a></li>
                <li><a href="//m.ieduchina.com/training/">升学资讯</a></li>
                <li><a href="//m.ieduchina.com/abroad/">留学资讯</a></li>
                <li><a href="//m.ieduchina.com/immigration/">移民资讯</a></li>
            </ul>
            <h2>投稿</h2>
            <ul>
                <li><a href="//m.ieduchina.com/login.html">发布文章</a></li>
            </ul>
            <h2>学校</h2>
            <ul>
                <li><a href="//schoollist.m.ieduchina.com/schlist/c2/">国际学校</a></li>
                <li><a href="//schoollist.m.ieduchina.com/schlist/c1/">海外学校</a></li>
            </ul>
            <h2>活动</h2>
            <ul>
                <li><a href="//m.ieduchina.com/huodong/">全部活动</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=1">开放日</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=2">冬/夏令营</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=3">培训</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=4">教育展</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=5">直播</a></li>
            </ul>
        </div>
    </div>
</header><nav class="about_nav">
    <a href="//m.ieduchina.com">首页</a><span>&gt;</span><a href="#" class="navContent">反馈</a>
</nav>
<div class="tabs_content" style="min-height:calc(100vh - 5.9rem)">
    <div class="tabs db feedback">
        <form id="fkForm" action="" method="post">
            <input maxlength="20" oninvalid="this.setCustomValidity('请输入中英文、标点符号、数字（限20字）')" oninput="this.setCustomValidity('')" required class="fkTitle" type="text" placeholder="标题，限20字" name="title"/>
            <input oninvalid="this.setCustomValidity('请输入邮箱')" oninput="this.setCustomValidity('')" required type="email" placeholder="请输入邮箱地址" name="email"/>
            <textarea maxlength="500" oninvalid="this.setCustomValidity('请输入文字')" oninput="this.setCustomValidity('')"  required name="content" id="" cols="30" rows="10" class="fkArea" placeholder="填写您的反馈意见（限5-500字个字）"></textarea>
            <span class="errorNotice"></span>
            <input class="tougBtn mt26" type="button" value="提交" />
        </form>
    </div>
</div>
<div class="module_diag"></div>
<div class="fkOk">
    <h3>提交成功,感谢您的反馈 !</h3>
    <a>关闭</a>
</div>
<script type="text/javascript" src="//m.ieduchina.com/statics/js/zepto.min.js"></script>
<script src="//m.ieduchina.com/statics/js/form.js"></script>
<script>
    $(function(){
        $('.fkOk a').click(function(){
            $(".module_diag").hide();
            $(".fkOk").hide();
        });
        $('.tougBtn').click(function(){
            $.post('/index.php?m=content&c=index&a=report&do=step1',
                    {
                        title:$('input[name=title]').val(),
                        email:$('input[name=email]').val(),
                        content:$('textarea[name=content]').val()
                    },
                    function (result) {
                        if (result.status == 'y') {
                            $(".module_diag").show();
                            $(".fkOk").show();
                            $('input[name=title]').val('');
                            $('input[name=email]').val('');
                            $('textarea[name=content]').val('');
                        }else{
                            $('.errorNotice').show();
                            $('.errorNotice').html(result.info);
                        }
                    },'json');
        });
    })
</script>
<footer class="footernav">
    <div class="top">
        <div class="tel">
            服务热线
            <a href="tel:4009008515">400-900-8516</a>
        </div>
        <div class="time">
            周一至周日 8:00~21:00
        </div>
    </div>
    <div class="bottom">
        <div class="list">
			<a href="./aboutus.html">关于我们</a>
			<a href="./joinus.html">加入我们</a>
			<a href="./contribution.html">文章投稿</a>
			<a href="./feedback.html">意见反馈</a>
        </div>
        <p>Copyright@<label id="siteyear">2020</label>,国际教育网 版权所有</p>
        <p>
            <a>粤ICP备06087881号</a>
            &
            <a>粤公网安备44030502002588号</a>
        </p>
    </div>
</footer>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?1b4c4a83f07b9232f211733c48ab864f";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    function lookMore(p) {
        window.location.href=p;
    }
    function lookAjaxMore(p) {
        var url = $(p).attr('data-href');
        var page = $(p).attr('data-page');
        console.log(url);
        $.post(url, {page: page},
            function (result) {
                $(p).attr('data-page',result.page);
                if (result.showHtml) {
                    $(p).siblings(".news_list").children('ul').append(result.showHtml);
                }else {
                    $(p).html('加载完毕');
                }
            },'json');
    }

    function lookSchoolMore(p) {
        var url = $(p).attr('data-href');
        var page = $(p).attr('data-page');
        var pinying=$("#pinying").val();
        $.post(url,{'page':page,'pinying':pinying},function (result) {
            $(p).attr('data-page',result.page);
            if (result.showHtml || result.semHtml) {
                $("#school_list").append(result.showHtml).text();;
                $("#sem-school-list").append(result.semHtml).text();;
            }else{
                $(p).html('加载完毕');
            }
        },'json');
    }

    function lookSceneMore(p) {
        var url = $(p).attr('data-href');
        var page = $(p).attr('data-page');
        $.post(url, {page: page},
            function (result) {
                $(p).attr('data-page',result.page);
                if (result.showHtml) {
                    $(p).parent('.pic_item').children('div').append(result.showHtml);
                }else {
                    $(p).html('加载完毕');
                }
            },'json');
    }


    function submitform() {
        $('#formsearch').submit();
    }

    //关注-收藏
    $(function(){
        var guanzhu=$("#attention-btn").length;
        if(guanzhu)
        {
            var val=$("#attention-btn").attr('name');
            guanzhu_first(val);
        }
        var collect=$("#collect").length;
        if(collect)
        {
            var val=$("#collect").attr('name');
            collect_first(val);
        }

        //日期
        var d = new Date();
        var siteyear = d.getFullYear();
        $("#siteyear").html(siteyear);

        if($(".school_nav").height() > 50 && $(".fold_nav").length == 0) {
            $(".school_nav").css({"height": "auto"})
        }

		//更多
        if($(".fold_nav").length > 0) {
            $(".fold_nav").on("click", function () {
                if ($(".school_nav ul").height() > $(".school_nav").height() && $(this).text() == "更多") {
                    $(this).addClass("fold-active").text("收起");
                    $(this).parent().animate({height: "2.1rem"}, 500);
                } else {
                    $(this).removeClass("fold-active").text("更多");
                    $(this).parent().animate({height: "1.5rem"});
                }
            });
        }


    });
	
</script>
</div>
</div>

<!--底部悬浮3个按钮-->
    <div class="footer-tools">
        <a href="http://p.qiao.baidu.com/cps/chat?siteId=10762946&userId=23739680">在线咨询</a>
        <a href="tel:4009008516">电话咨询</a>
        <a href="//m.ieduchina.com/ceping/">入学考试</a>
    </div>


<script>
    /*百度推送*/
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script type="text/javascript">
    (function(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)!="micromessenger") {
            $(".footer-tools-new ul li").show();
            $(".footer-tools-new").show();

			if($(".footer-tools").length){
					$(".footernav").css('padding-bottom', $(".footer-tools").height() );
				  }else if($(".footer-tools-new").length){
					$(".footernav").css('padding-bottom', $(".footer-tools-new").height());
			}
            $(".footer-tools").show();
            $(".search-results").css("min-height","calc(100vh - 6.72rem)")
        }
    })();
</script>
</body>
</html>