<div class="detail_words" style="display: none;">
    <div
        style="outline: 0px;max-width: 100%;color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);visibility: visible;margin-left: 8px;margin-right: 8px;box-sizing: border-box !important;overflow-wrap: break-word !important;">
        <br>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">近年来，以学术闻名的贝赛思在家长圈中十分抢手，一位难求，入学要求也是越来越难。</span></div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span style="font-size: 15px;"><br></span>
    </div>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 15px;">近期<strong>国际教育网·升学中心</strong>也有一批学员获得贝赛思的录取，喜报频传，Q学姐<span
                style="color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 15px;letter-spacing: 1px;background-color: rgb(255, 255, 255);">这里给大家展示一下录取offer墙，吸一波offer喜气~</span></span>
    </p>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.5em;"><span style="font-size: 15px;"><br></span></div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="margin: 10px 8px;box-sizing: border-box;">
            <div
                style="display: inline-block;width: 100%;border-width: 1px;border-style: solid;border-color: rgb(226, 226, 226);padding: 10px;box-shadow: rgb(226, 226, 226) 0px 16px 1px -13px;box-sizing: border-box;">
                <div style="box-sizing: border-box;">
                    <div style="box-sizing: border-box;font-size: 16px;">
                        <div style="box-sizing: border-box;">
                            <div
                                style="margin: 6px 0%;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                <div
                                    style="display: inline-block;vertical-align: middle;width: 33.33%;padding-right: 3px;padding-left: 3px;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                                    <div
                                        style="text-align: center;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                        <div
                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-sizing: border-box;">
                                            <img class="rich_pages wxw-img"
                                                src="//www.ieduchina.com/uploadfile/202205/f51420220518155843.jpg"
                                                style="vertical-align: middle;box-sizing: border-box;width: 179px;height: 318px;">
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="display: inline-block;vertical-align: middle;width: 33.33%;padding-right: 3px;padding-left: 3px;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                                    <div
                                        style="text-align: center;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                        <div
                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-sizing: border-box;">
                                            <img class="rich_pages wxw-img"
                                                src="//www.ieduchina.com/uploadfile/202205/f82920220518155843.jpg"
                                                style="vertical-align: middle;box-sizing: border-box;width: 179px;height: 318px;">
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="display: inline-block;vertical-align: middle;width: 33.33%;padding-right: 3px;padding-left: 3px;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                                    <div
                                        style="text-align: center;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                        <div
                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-sizing: border-box;">
                                            <img class="rich_pages wxw-img"
                                                src="//www.ieduchina.com/uploadfile/202205/f29720220518155843.jpg"
                                                style="vertical-align: middle;box-sizing: border-box;width: 179px;height: 318px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="box-sizing: border-box;font-size: 16px;">
                        <div style="box-sizing: border-box;">
                            <div
                                style="margin: 6px 0%;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                <div
                                    style="display: inline-block;vertical-align: middle;width: 33.33%;padding-right: 3px;padding-left: 3px;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                                    <div
                                        style="text-align: center;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                        <div
                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-sizing: border-box;">
                                            <img class="rich_pages wxw-img"
                                                src="//www.ieduchina.com/uploadfile/202205/f78520220518155844.jpg"
                                                style="vertical-align: middle;box-sizing: border-box;width: 179px;height: 318px;">
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="display: inline-block;vertical-align: middle;width: 33.33%;padding-right: 3px;padding-left: 3px;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                                    <div
                                        style="text-align: center;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                        <div
                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-sizing: border-box;">
                                            <img class="rich_pages wxw-img"
                                                src="//www.ieduchina.com/uploadfile/202205/f50520220518155844.jpg"
                                                style="vertical-align: middle;box-sizing: border-box;width: 179px;height: 318px;">
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="display: inline-block;vertical-align: middle;width: 33.33%;padding-right: 3px;padding-left: 3px;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                                    <div
                                        style="text-align: center;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                        <div
                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-sizing: border-box;">
                                            <img class="rich_pages wxw-img"
                                                src="//www.ieduchina.com/uploadfile/202205/f70920220518155844.jpg"
                                                style="vertical-align: middle;box-sizing: border-box;width: 179px;height: 318px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center;line-height: 1.5em;"><span
                            style="font-size: 12px;color: rgb(136, 136, 136);"><em>国际升学中心
                                部分学员名校录取喜报展示</em></span></div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br><span style="font-size: 15px;"></span>
    </div>
    <div style="margin-right: 8px;margin-left: 8px;white-space: normal;line-height: 1.75em;"><span
            style="font-size: 15px;">一年到头都有家长咨询贝赛思，最近问的比较多的是：</span><span
            style="font-size: 15px;color: rgb(0, 128, 255);">深圳蛇口、广州、惠州的3所贝赛思都是纯外籍，有区别吗？哪所相对容易进？校区间能转学吗？……</span>
    </div>
    <p style="margin-right: 8px;margin-left: 8px;white-space: normal;line-height: 1.75em;"><br></p>
    <p style="margin-right: 8px;margin-left: 8px;white-space: normal;line-height: 1.75em;"><span
            style="font-size: 15px;">为了帮助各位家长理清它们的区别，今天Q学姐为大家对这3所学校简单做个分析，至于如何选择，各位家长和同学，可根据具体情况具体判断。</span><br>
    </p>
    <p style="margin-right: 8px;margin-left: 8px;white-space: normal;line-height: 1.75em;"><br></p>
    <div>
        <div style="text-align: center;">
            <div style="display:inline-block;max-width:100%;width:45px !important;"><img class="rich_pages wxw-img"
                    src="//www.ieduchina.com/uploadfile/202205/f40820220518155844.jpg" style="width: 45px !important;"
                    title="铅笔 分割线"></div>
        </div>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">分析之前，先插播一则据最新入学考消息，</span><span
            style="font-size: 15px;color: rgb(0, 128, 255);"><strong>小径湾<a
                    href="//schoollist.m.ieduchina.com/school/szbssgjxx/"
                    target="_blank">贝赛思国际学校</a>将于5月28日进行入学测试：</strong></span><span style="font-size: 15px;"></span>
    </div>
    <div style="text-align: center;margin-bottom: 0em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 15px;"></span><strong><span style="font-size: 15px;">考试时间：</span></strong><span
            style="font-size: 15px;">5月28日（周六）</span></div>
    <ul class=" list-paddingleft-2" style="list-style-type: square;">
        <li>
            <p><span style="font-size: 15px;">G5-G6&nbsp;&nbsp;9:30-12:30</span></p>
        </li>
        <li>
            <p><span style="font-size: 15px;">G7-G9&nbsp; 13:30-16:30</span></p>
        </li>
    </ul>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><strong><span
                style="font-size: 15px;">考试地点：</span></strong><span style="font-size: 15px;">华润小径湾贝赛思国际学校</span><br><br>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">目前仍可报名，有意向的抓紧时间！</span><span style="font-size: 15px;">详情可一对一咨询升学小助手。</span>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></div>
    <div style="text-align: center;margin-bottom: 0em;margin-left: 8px;margin-right: 8px;"><img
            class="rich_pages wxw-img" src="//www.ieduchina.com/uploadfile/202205/f87220220518155845.jpg"
            style="width: 100%;height: auto;height: auto !important;"></div>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="text-align: center;margin-bottom: 0em;margin-left: 8px;margin-right: 8px;"><img
            class="rich_pages wxw-img" src="//www.ieduchina.com/uploadfile/202205/f45320220518155845.jpg"
            style="width: 100%;height: auto;"></div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;margin-left: 8px;margin-right: 8px;">
            <div
                style="margin: 10px 0%;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;width: 100%;vertical-align: top;border-style: solid;border-width: 4px;border-color: rgb(0, 128, 255);align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                    <div style="margin: 10px 0%;box-sizing: border-box;">
                        <div
                            style="text-align: center;font-size: 17px;color: rgb(0, 128, 255);letter-spacing: 1px;box-sizing: border-box;">
                            <p style="box-sizing: border-box;"><strong
                                    style="box-sizing: border-box;">深贝、广贝、惠贝的“同”</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="background-color: rgb(0, 128, 255);color: rgb(255, 255, 255);"><strong><span
                    style="background-color: rgb(0, 128, 255);font-size: 15px;">1、属于同一个教育集团</span></strong></span>
    </div>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">中国所有的贝赛思学校，均属于同一个教育集团办学，那就是爱圣国际教育集团，它由香港政府批准成立，是<strong>美国BASIS集团在中国大陆的永久独家合作伙伴，是BASIS教育品牌在中国大陆地区的唯一使用人。</strong></span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">凭借独特的办学和管理，爱圣国际教育集团在中国的办学版图，扩张迅速。</span><strong><span
                style="font-size: 15px;">截至2021年，已先后开办了6所学校：</span></strong><span
            style="font-size: 15px;">深圳贝赛思国际学校、广州贝赛思国际学校、杭州钱江贝赛思国际学校、华润小径湾贝赛思国际学校、南京贝赛思国际学校和深圳贝赛思双语学校，同时目前还有非常多的贝赛思学校正在规划中。</span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <div style="text-align: center;margin-bottom: 0em;margin-left: 8px;margin-right: 8px;"><img
            class="rich_pages wxw-img" src="//www.ieduchina.com/uploadfile/202205/f59820220518155845.jpg"
            style="width: 100%;height: auto;"></div>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="background-color: rgb(0, 128, 255);color: rgb(255, 255, 255);"><strong><span
                    style="background-color: rgb(0, 128, 255);font-size: 15px;">2、同为外籍人员子女学校</span></strong></span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">大湾区4所贝赛思，除了福贝是双语学校，其他三所均是外籍人员子女学校，招收外籍、港澳台学生，其中深圳蛇口贝赛思和广州贝赛思对学生身份的要求卡得非常严格，<strong>小径湾贝赛思的身份要求相对宽松一点</strong>。</span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><img class="rich_pages wxw-img"
            src="//www.ieduchina.com/uploadfile/202205/f32620220518155845.jpg"
            style="white-space: normal; outline: 0px; color: rgb(34, 34, 34); 
font-family: Source Han Sans CN-Regular, Source Han Sans CN; letter-spacing: 0.544px; text-align: center; background-color: rgb(255, 255, 255); width: 603px; height: 381px; box-sizing: border-box !important; overflow-wrap: break-word !important; visibility: visible !important;"
            width="603" height="381" title="" alt=""></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><strong><span
                style="font-size: 15px;background-color: rgb(0, 128, 255);color: rgb(255, 255, 255);">3、同一套课程、评估、师资招聘体系</span></strong>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span style="font-size: 15px;"><br></span></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">在中国开设的贝赛思国际学校完全按照美国本土BASIS学校的课程标准设置，学生的成绩评估和教师团队的教学质量评估，也按照BASIS集团统一标准考核。</span>
    </p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span style="font-size: 15px;"><br></span></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;color: rgb(0, 0, 0);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;caret-color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);">因为是同一个集团下的学校，几所</span><span
            style="
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;caret-color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 15px;color: rgb(0, 128, 255);">贝校的师资</span><span
            style="font-size: 15px;"><span
                style="color: rgb(0, 0, 0);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;caret-color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);">都是需要经过BASIS集团人事总部及各校区教学管理层的严格选拔而来，大部分的老师是</span>从美国直接招聘过来<span
                style="color: rgb(64, 64, 64);">，<strong>统一的选拔标准</strong></span><span
                style="color: rgb(0, 0, 0);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;caret-color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);">。</span></span>
    </p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></p>
    <div style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;color: rgb(0, 128, 255);">BASIS的课程体系</span><span
            style="color: rgb(64, 64, 64);"><span style="font-size: 15px;">是STEM-FOCUSED liberal arts program of
                study，其中的STEM就是Science科学、Technology技术、Engineering工程、Mathematics数学，因此</span><strong><span
                    style="font-size: 15px;">理科是贝赛思的强项</span></strong><span style="font-size: 15px;">。</span></span>
    </div>
    <div style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;color: rgb(64, 64, 64);">&nbsp;</span></div>
    <div style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span style="color: rgb(64, 64, 64);"><span
                style="font-size: 15px;">贝赛思整体的</span><strong><span
                    style="font-size: 15px;">课程进度会比一般的国际学校快1-2个年级</span></strong><span
                style="font-size: 15px;">，<strong>课程结构呈螺旋式上升</strong>，有很多跨学科交叉课程，课后考察以应用实践题居多，对学生的理解要求很高。</span></span>
    </div>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></p>
    <div style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="color: rgb(64, 64, 64);"><strong><span style="font-size: 15px;">到了8年级，学生会开始修读<a
                        href="https://m.ieduchina.com/ap/" target="_blank">AP</a>课程</span></strong><span
                style="font-size: 15px;">。相比一般国际学校要求学生修读3-4门AP课程，贝赛思会要求学生在进入12年级之前至少完成8门课程，6门AP考试。据了解，贝校毕业生平均每人修读AP数量为11.9门。</span></span>
    </div>
    <div style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></div>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><img class="rich_pages wxw-img"
            src="//www.ieduchina.com/uploadfile/202205/f53020220518155846.jpg"
            style="white-space: normal; color: rgb(64, 64, 64); font-size: 15px; width: 603px; height: 449px;"
            width="603" height="449" title="" alt=""></p>
    <div style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><strong><span
                style="font-size: 15px;background-color: rgb(0, 128, 255);color: rgb(255, 255, 255);">4、同样学术要求严格</span></strong>
    </div>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">在贝赛思的三大教育理念中，第一条就是超前加速并严格的课程，以“世界一流学术水平”为目标，对学术的严格要求。</span><span
            style="font-size: 15px;color: rgb(0, 128, 255);">无论是深贝、广贝还是惠贝，重视学术成绩，是贝赛思的主旋律。</span><span
            style="font-size: 15px;"></span></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">贝赛思的学生从5年级开始，就会提前开始学习专业课，科学课程细分为物理、化学和生物，8年级开始会修读AP课程。</span></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">这样<strong>“超前”的课程体系</strong>充满挑战，若学生能跟上进度，就能预留更多的时间来衔接大学的课程，未来的升学会更具优势；但如果跟不上，只会给学生带来巨大的压力，后面会越来越吃力。</span>
    </p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">学生还需<strong>定期要参加学业测评考试</strong>，学校会根据学生的成绩情况进行分班教学。此外每学年对于挂科的学生，贝校还有<strong>留级淘汰机制</strong>。</span>
    </p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;">想了解更多贝校的课程体系、学业测评等信息？准备入读的学生如何衔接贝赛思课程学习？在读学生又如何提升学术成绩？……可添加升学小助手，一对一咨询。</span>
    </p>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><span style="font-size: 15px;"><br></span></p>
    <div style="text-align: center;margin-bottom: 0em;margin-left: 8px;margin-right: 8px;"><img
            class="rich_pages wxw-img" src="//www.ieduchina.com/uploadfile/202205/f87220220518155845.jpg"
            style="width: 100%;height: auto;"></div>
    <p style="margin-right: 8px;margin-left: 8px;line-height: 1.75em;"><br></p>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="text-align: center;margin-bottom: 0em;margin-left: 8px;margin-right: 8px;"><img
            class="rich_pages wxw-img" src="//www.ieduchina.com/uploadfile/202205/f56720220518155846.jpg"
            style="width: 100%;height: auto;"></div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;margin-left: 8px;margin-right: 8px;">
            <div
                style="margin: 10px 0%;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;width: 100%;vertical-align: top;border-style: solid;border-width: 4px;border-color: rgb(0, 128, 255);align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                    <div style="margin: 10px 0%;box-sizing: border-box;">
                        <div
                            style="text-align: center;font-size: 17px;color: rgb(0, 128, 255);letter-spacing: 1px;box-sizing: border-box;">
                            <p style="box-sizing: border-box;"><strong
                                    style="box-sizing: border-box;">深贝、广贝、惠贝的“异”</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><strong><span
                style="font-size: 15px;background-color: rgb(0, 128, 255);color: rgb(255, 255, 255);">1、升学成绩的区别<br></span></strong>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 15px;letter-spacing: 1px;">整体来看，根据贝赛思官方数据统计，<strong>大湾区3所贝校（深贝、广贝、惠贝）今年学术方向毕业生一共136名，共收获了5枚藤校offer</strong>，藤校+美国
            TOP10综合类大学+TOP10文理学院+英国G5<strong>录取率近45%</strong>！</span></div>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 15px;letter-spacing: 1px;"><img class="rich_pages wxw-img"
                src="//www.ieduchina.com/uploadfile/202205/f95020220518155846.jpg"
                style="vertical-align: inherit;white-space: normal;width: 100%;height: auto;box-shadow: rgb(150, 150, 150) 0px 0px 14px 0px;"></span>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;text-align: center;line-height: normal;"><span
            style="font-size: 12px;color: rgb(136, 136, 136);"><em>小径湾贝赛思国际学校2022届毕业生</em></span><br></div>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 15px;letter-spacing: 1px;">三所学校在不同类型大学的录取上有所差异，其中：</span><br></p>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;margin-left: 8px;margin-right: 8px;">
            <div
                style="margin: 10px 0% 8px;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;width: 100%;vertical-align: top;border-left: 3px solid rgb(219, 219, 219);border-bottom-left-radius: 0px;padding-left: 8px;align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                    <div
                        style="color: rgb(52, 50, 50);font-size: 15px;line-height: 1.75;letter-spacing: 1px;text-align: justify;box-sizing: border-box;">
                        <div style="white-space: normal;line-height: 1.75em;"><span
                                style="color: rgb(0, 128, 255);"><strong><span
                                        style="font-size: 15px;letter-spacing: 1px;">美国藤校&amp;TOP10综合录取</span></strong></span>
                        </div>
                        <div style="white-space: normal;line-height: 1.75em;"><br></div>
                        <div style="white-space: normal;line-height: 1.75em;"><strong><span
                                    style="font-size: 15px;letter-spacing: 1px;">广贝</span></strong><span
                                style="font-size: 15px;letter-spacing: 1px;">今年总计斩获10枚藤校&amp;TOP10，包含3枚藤校，如排名NO.1的普林斯顿大学录取，这也是中国·贝赛思首枚普林斯顿录取，还收获哥大、康奈尔各1枚，相比去年只有1枚康奈尔，广贝今年可谓大爆发；</span>
                        </div>
                        <div style="white-space: normal;line-height: 1.75em;"><br></div>
                        <div style="white-space: normal;line-height: 1.75em;"><strong><span
                                    style="font-size: 15px;letter-spacing: 1px;">惠贝</span></strong><span
                                style="font-size: 15px;letter-spacing: 1px;">今年第一年升学，直接王炸登场，斩获7枚藤校&amp;TOP10，包含1枚康奈尔，以及中国·贝赛思国际学校的首枚斯坦福录取等，一跃成为大湾区最大的黑马；</span>
                        </div>
                        <div style="white-space: normal;line-height: 1.75em;"><br></div>
                        <div style="white-space: normal;line-height: 1.75em;"><strong><span
                                    style="font-size: 15px;letter-spacing: 1px;">深贝</span></strong><span
                                style="font-size: 15px;letter-spacing: 1px;">今年的录取相比去年拿下8枚藤校&amp;TOP10录取，今年只收获4枚，稍微逊色，其中1枚藤校康奈尔。</span>
                        </div>
                        <p style="white-space: normal;box-sizing: border-box;"><br></p>
                        <p style="text-align: center;margin-bottom: 0em;"><img class="rich_pages wxw-img"
                                src="//www.ieduchina.com/uploadfile/202205/f26920220518155846.jpg"
                                style="width: 100%;height: auto;"></p>
                        <p style="white-space: normal;box-sizing: border-box;text-align: center;"><em
                                style="color: rgb(136, 136, 136);font-size: 12px;letter-spacing: 1px;text-align: center;white-space: normal;">数据来源贝赛思官网，仅供参考</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;margin-left: 8px;margin-right: 8px;">
            <div
                style="margin: 10px 0% 8px;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;width: 100%;vertical-align: top;border-left: 3px solid rgb(219, 219, 219);border-bottom-left-radius: 0px;padding-left: 8px;align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                    <div
                        style="color: rgb(52, 50, 50);font-size: 15px;line-height: 1.75;letter-spacing: 1px;text-align: justify;box-sizing: border-box;">
                        <div style="white-space: normal;line-height: 1.75em;"><span
                                style="color: rgb(0, 128, 255);"><strong><span
                                        style="color: rgb(0, 128, 255);font-size: 15px;letter-spacing: 1px;">美国TOP10文理学院录取</span></strong></span>
                        </div>
                        <div style="white-space: normal;line-height: 1.75em;"><br></div>
                        <div style="white-space: normal;line-height: 1.75em;"><strong
                                style="color: rgb(52, 50, 50);font-size: 15px;letter-spacing: 1px;white-space: normal;">深贝</strong><span
                                style="color: rgb(52, 50, 50);font-size: 15px;letter-spacing: 1px;">收获美国排名前10位的文理学院录取3枚，分别是排名第二、三、四的安默斯特学院、斯沃斯莫尔学院、波莫纳学院；</span>
                        </div>
                        <div style="white-space: normal;line-height: 1.75em;"><br></div>
                        <div style="white-space: normal;line-height: 1.75em;"><strong><span
                                    style="font-size: 15px;letter-spacing: 1px;">广贝</span></strong><span
                                style="font-size: 15px;letter-spacing: 1px;">今年收获TOP10文理学院录取4枚，包含全美最顶尖的文理学院威廉姆斯学院的录取1枚，以及排名第三、四的斯沃斯莫尔学院、波莫纳学院等；</span>
                        </div>
                        <div style="white-space: normal;line-height: 1.75em;"><br></div>
                        <div style="white-space: normal;line-height: 1.75em;"><strong><span
                                    style="font-size: 15px;letter-spacing: 1px;">惠贝</span></strong><span
                                style="font-size: 15px;letter-spacing: 1px;">收获<span
                                    style="color: rgb(52, 50, 50);font-size: 15px;letter-spacing: 1px;">TOP</span><span
                                    style="color: rgb(52, 50, 50);font-size: 15px;letter-spacing: 1px;">10</span>文理学院录取7枚，包含排名第五、六的韦尔斯利学院、鲍登学院等。</span>
                        </div>
                        <div style="white-space: normal;line-height: 1.75em;"><br></div>
                        <p style="white-space: normal;box-sizing: border-box;"><br></p>
                        <p style="text-align: center;margin-bottom: 0em;"><img class="rich_pages wxw-img"
                                src="//www.ieduchina.com/uploadfile/202205/f89320220518155847.jpg"
                                style="width: 100%;height: auto;"></p>
                        <p style="text-align: center;margin-bottom: 0em;"><em
                                style="color: rgb(136, 136, 136);font-size: 12px;letter-spacing: 1px;text-align: center;white-space: normal;">数据来源贝赛思官网，仅供参考</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;margin-left: 8px;margin-right: 8px;">
            <div
                style="margin: 10px 0% 8px;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;width: 100%;vertical-align: top;border-left: 3px solid rgb(219, 219, 219);border-bottom-left-radius: 0px;padding-left: 8px;align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                    <div
                        style="color: rgb(52, 50, 50);font-size: 15px;line-height: 1.75;letter-spacing: 1px;text-align: justify;box-sizing: border-box;">
                        <div style="line-height: 1.75em;"><span style="color: rgb(0, 128, 255);"><strong><span
                                        style="color: rgb(0, 128, 255);font-size: 15px;letter-spacing: 1px;">英国G5大学录取</span></strong></span>
                        </div>
                        <div style="line-height: 1.75em;"><br></div>
                        <div style="line-height: 1.75em;"><strong><span
                                    style="color: rgb(52, 50, 50);font-size: 15px;letter-spacing: 1px;">深贝</span></strong><span
                                style="color: rgb(52, 50, 50);font-size: 15px;letter-spacing: 1px;">收获英国G5超级精英大学的录取7枚，其中牛津录取1枚。</span>
                        </div>
                        <div style="line-height: 1.75em;"><br></div>
                        <div style="line-height: 1.75em;"><strong><span
                                    style="font-size: 15px;letter-spacing: 1px;">广贝</span></strong><span
                                style="font-size: 15px;letter-spacing: 1px;">收获英国G5录取10枚，其中牛津录取2枚；<br></span>
                        </div>
                        <div style="line-height: 1.75em;"><br></div>
                        <div style="line-height: 1.75em;"><strong><span
                                    style="font-size: 15px;letter-spacing: 1px;">惠贝</span></strong><span
                                style="font-size: 15px;letter-spacing: 1px;">收获英国G5录取11枚，其中牛津录取3枚，剑桥录取2枚，表现十分亮眼，超过了国内其他3所贝赛思。</span>
                        </div>
                        <div style="line-height: 1.75em;"><br></div>
                        <p style="text-align: center;margin-bottom: 0em;"><img class="rich_pages wxw-img"
                                src="//www.ieduchina.com/uploadfile/202205/f85920220518155847.jpg"
                                style="width: 100%;height: auto;"></p>
                        <p style="text-align: center;margin-bottom: 0em;margin-top: 0.5em;line-height: normal;">
                            <span style="font-size: 12px;color: rgb(136, 136, 136);"><em>数据来源贝赛思官网，仅供参考</em></span><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 15px;letter-spacing: 1px;">从上面数据可以看到，</span><span
            style="font-size: 15px;letter-spacing: 1px;color: rgb(0, 128, 255);">广贝和惠贝今年的表现超出了所有人的预期，深贝今年表现虽在对比之下，被广贝和惠贝赶超的趋势明显，但在大湾区依旧排名靠前。</span><span
            style="font-size: 15px;letter-spacing: 1px;">可以预见，明年贝赛思又要被挤爆。</span></div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div class="channels_iframe_wrp wxw_wechannel_card_not_horizontal"></div>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><strong style="white-space: normal;"><span
                style="font-size: 15px;background-color: rgb(0, 128, 255);color: rgb(255, 255, 255);">2、入学及考试难度上的差异</span></strong>
    </p>
    <p><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;">几所贝赛思都非常热门，报读的孩子要经过层层选拔，参加英文、数学等较高难度的入学考试。<br></span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="color: rgb(0, 128, 255);font-size: 15px;letter-spacing: 1px;">官方公布的入学考试方式和内容是一致的，但据家长们的反馈，入学难度还是有差异的。</span><span
            style="letter-spacing: 1px;color: rgb(136, 136, 136);font-size: 12px;"><em>（<em
                    style="color: rgb(136, 136, 136);font-size: 12px;white-space: normal;">注：以下分析来自家长反馈，非官方信息，仅供参考</em>）</em></span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;">其中，<strong>深贝</strong>因为是第一所贝赛思学校，办学时间久，升学好，再加上学校本来学位就少，所以导致入学难度非常高，录取比例仅10:1，竞争十分激烈，是大湾区几所贝赛思中最难进的。不过，2023年将会搬迁新校区，届时会扩招，这个时间申请或许是个好时机。</span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><strong><span
                style="font-size: 15px;letter-spacing: 1px;">广贝</span></strong><span
            style="font-size: 15px;letter-spacing: 1px;">也是广州地区的热门国际学校，凭借好生源和好升学，俘获众多家长喜爱，目前考试难度与深贝不相上下，但学位稍微比深贝多一点点。</span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><strong><span
                style="font-size: 15px;letter-spacing: 1px;">惠贝</span></strong><span
            style="font-size: 15px;letter-spacing: 1px;">因为地理位置，很多生源都来自深圳，此前不少学生均将它作为没挤进深贝的备选项，但随着这两年的知名度提升，亮眼的毕业生成绩，入学门槛早已今非昔比。</span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;"><br></span></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;"><img class="rich_pages wxw-img"
                src="//www.ieduchina.com/uploadfile/202205/f25020220518155847.jpg"
                style="outline: 0px;color: rgb(160, 160, 160);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 16px;letter-spacing: 0.544px;text-align: center;white-space: normal;background-color: rgba(222, 237, 242, 0.89);width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;height: auto;"></span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><strong style="white-space: normal;"><span
                style="font-size: 15px;background-color: rgb(0, 128, 255);color: rgb(255, 255, 255);">3、地理位置和校园环境的差别</span></strong>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;">就目前而言，在基础设施和课外活动上，<strong>惠贝优于广贝和深贝</strong>。<br></span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="color: rgb(0, 128, 255);"><strong><span
                    style="font-size: 15px;letter-spacing: 1px;">华润小径湾贝赛思国际学校</span></strong></span><span
            style="font-size: 15px;letter-spacing: 1px;">坐落于广东惠州，依山而建，空间设施和地理位置都有着得天独厚的优势，校园占地面积很大，活动区域也大，绿地面积高达60%，是一座真真正正的生态校园。</span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;">场地丰富，惠贝的社团活动课余设置也较丰富，大约有43个俱乐部，围绕学术、体育、艺术类开设。</span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;"><br></span></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;"><img class="rich_pages wxw-img"
                src="//www.ieduchina.com/uploadfile/202205/f51920220518155847.jpg"
                style="outline: 0px;box-sizing: border-box;vertical-align: middle;color: rgb(0, 0, 0);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;white-space: normal;caret-color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-size: 16px;width: 100%;overflow-wrap: break-word !important;visibility: visible !important;height: auto;"></span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;text-align: center;"><span
            style="font-size: 12px;color: rgb(136, 136, 136);"><em><span
                    style="color: rgb(136, 136, 136);letter-spacing: 1px;">华润小径湾贝赛思国际学校</span></em></span></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="color: rgb(0, 128, 255);"><strong><span
                    style="font-size: 15px;letter-spacing: 1px;">广州贝赛思国际学校</span></strong></span><span
            style="font-size: 15px;letter-spacing: 1px;">位于广州市黄埔区科学城，其地理位置优越，占地16,143m²，总建筑面积近38,000m²，绿林面积大，校园环境静谧悠然，营造的校园气氛也非常浓郁。据说广贝的校园设计就以打造一座花园式校园为主。</span>
    </p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><img class="rich_pages wxw-img"
            src="//www.ieduchina.com/uploadfile/202205/f16120220518155848.jpg"
            style="outline: 0px;box-sizing: border-box;vertical-align: middle;color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 0.544px;white-space: normal;background-color: rgb(255, 255, 255);overflow-wrap: break-word !important;visibility: visible !important;width: 100%;height: auto;">
    </div>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;text-align: center;"><em
            style="color: rgb(136, 136, 136);font-size: 12px;text-align: center;white-space: normal;"><span
                style="letter-spacing: 1px;">广州贝赛思国际学校</span></em></p>
    <p style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></p>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="letter-spacing: 1px;"><strong><span
                    style="font-size: 15px;color: rgb(0, 128, 255);">深圳贝赛思国际学校</span></strong><span
                style="font-size: 15px;">目前的校园由于没有独立规划教育用地，办学条件、硬件设施受到诸多限制，已连续数年出现学位供不应求的情况，校园设施也被家长诟病。</span></span>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><span
            style="font-size: 15px;letter-spacing: 1px;">但大家期待的<strong>深圳蛇口贝赛思新校区</strong>预计将于2023年上半年投入使用，<strong
                style="font-size: 15px;letter-spacing: 1px;white-space: normal;">总投资预计不少于12亿</strong><span
                style="font-size: 15px;letter-spacing: 1px;">，<span
                    style="font-size: 15px;letter-spacing: 1px;">建成后将成为深圳硬件设施最好的国际学校之一，也将成为<strong>贝赛思旗舰校区</strong>。</span><span
                    style="font-size: 15px;letter-spacing: 1px;color: rgb(0, 128, 255);">可容纳学位数量将从现在的1000个增加到1670个，</span></span>届时，深圳贝赛思国际学校将从蛇口网谷整体搬迁到新校区。</span>
    </div>
    <div style="margin-left: 8px;margin-right: 8px;line-height: 1.75em;"><br></div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;margin-left: 8px;margin-right: 8px;">
            <div
                style="margin: 10px 0%;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;vertical-align: middle;width: 50%;padding-right: 5px;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                    <div style="text-align: center;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                        <div
                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-sizing: border-box;">
                            <img class="rich_pages wxw-img"
                                src="//www.ieduchina.com/uploadfile/202205/f80320220518175409.jpg"
                                style="vertical-align: middle;letter-spacing: 1px;white-space: normal;outline: 0px;box-sizing: border-box;
font-family: Source Han Sans CN-Regular, Source Han Sans CN;text-align: center;background-color: rgb(255, 255, 255);color: rgb(62, 62, 62);font-size: 14px;width: 100%;overflow-wrap: break-word !important;visibility: visible !important;height: auto;">
                        </div>
                    </div>
                </div>
                <div
                    style="display: inline-block;vertical-align: middle;width: 50%;padding-left: 5px;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                    <div style="text-align: center;margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                        <div
                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-sizing: border-box;">
                            <img class="rich_pages wxw-img"
                                src="//www.ieduchina.com/uploadfile/202205/f80920220518155848.jpg"
                                style="vertical-align: middle;white-space: normal;outline: 0px;box-sizing: border-box;color: rgb(34, 34, 34);font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 16px;letter-spacing: 0.544px;text-align: center;background-color: rgb(255, 255, 255);width: 100%;overflow-wrap: break-word !important;visibility: visible !important;height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center;"><em
            style="font-size: 12px;text-align: center;white-space: normal;caret-color: rgba(0, 0, 0, 0);">
            <span style="color: rgb(136, 136, 136);">深圳贝赛思国际学校</span></em></p>
    <div><br></div>
    <div><br></div>
    <p style="text-align: center;margin-bottom: 0em;"><img class="rich_pages wxw-img"
            src="//www.ieduchina.com/uploadfile/202205/f93620220518155849.jpg"></p>
    <div><br></div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 15px;letter-spacing: 1px;">关于贝赛思各校区的“同”和“异”，<span
                style="font-size: 15px;letter-spacing: 1px;">篇幅有限，</span>今天就分析到这里。</span></div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 15px;letter-spacing: 1px;"><span
                style="color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;background-color: rgb(255, 255, 255);">如果你是准备报考贝赛思，想了解更多贝赛思入学的</span><strong
                style="outline: 0px;max-width: 100%;color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 15px;letter-spacing: 1px;white-space: normal;background-color: rgb(255, 255, 255);box-sizing: border-box !important;overflow-wrap: break-word !important;">考试体系、面试技巧、模拟面试等</strong><span
                style="color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;background-color: rgb(255, 255, 255);">；</span></span><span
            style="background-color: rgb(255, 255, 255);color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 15px;letter-spacing: 1px;">如果你已经考进贝赛思，担心无法衔接贝校的课程，或者</span><strong
            style="background-color: rgb(255, 255, 255);color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 15px;letter-spacing: 1px;outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">英语语言基础比较薄弱想补救</strong><span
            style="font-size: 15px;">等；均</span><span style="background-color: rgb(255, 255, 255);color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 15px;letter-spacing: 1px;">可添加升学小助手私聊哦。</span>
    </div>
    <div style="line-height: 1.75em;margin-left: 8px;margin-right: 8px;"><span style="background-color: rgb(255, 255, 255);color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 15px;letter-spacing: 1px;"><br></span>
    </div>
    <div style="text-align: center;margin-bottom: 0em;margin-left: 8px;margin-right: 8px;"><img
            class="rich_pages wxw-img" src="//www.ieduchina.com/uploadfile/202205/f87220220518155845.jpg"
            style="width: 100%;height: auto;"></div>
    <div style="text-align: center;margin-bottom: 0em;margin-left: 8px;margin-right: 8px;"><br></div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;margin-left: 8px;margin-right: 8px;">
            <div
                style="margin: 10px 0%;text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;width: 100%;vertical-align: top;background-color: rgba(112, 197, 244, 0.67);padding-right: 10px;padding-left: 10px;align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                    <div style="box-sizing: border-box;">
                        <div
                            style="display: flex;flex-flow: row nowrap;margin: -5px 0%;text-align: center;justify-content: center;box-sizing: border-box;">
                            <div
                                style="display: inline-block;width: auto;vertical-align: middle;min-width: 10%;max-width: 100%;flex: 0 0 auto;height: auto;border-style: solid;border-width: 1px;border-color: rgb(0, 128, 255);padding: 4px;background-color: rgb(255, 255, 255);box-shadow: rgb(255, 255, 255) 0px 0px 0px inset;align-self: center;box-sizing: border-box;">
                                <div style="box-sizing: border-box;">
                                    <div
                                        style="justify-content: center;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                        <div
                                            style="display: inline-block;width: 100%;vertical-align: top;border-width: 0px;background-color: rgb(0, 128, 255);padding-right: 10px;padding-left: 10px;align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                                            <div
                                                style="color: rgb(255, 255, 255);letter-spacing: 1px;text-align: justify;box-sizing: border-box;">
                                                <p style="white-space: normal;box-sizing: border-box;"><strong
                                                        style="box-sizing: border-box;">热门活动</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        style="margin-bottom: 0em;outline: 0px;max-width: 100%;color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);text-align: center;line-height: normal;margin-left: 8px;margin-right: 8px;box-sizing: border-box !important;overflow-wrap: break-word !important;">
        <br>
    </div>
    <div style="white-space: normal;margin-left: 8px;margin-right: 8px;"><span style="font-size: 14px;">近期热门活动包含：</span>
    </div>
    <div style="white-space: normal;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 14px;color: rgb(0, 128, 255);">名校面对面之深圳诺德双语学校（5.19）；</span></div>
    <div style="white-space: normal;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 14px;color: rgb(0, 128, 255);">对话真正的世界学者（5.26）；</span></div>
    <div style="white-space: normal;margin-left: 8px;margin-right: 8px;"><span
            style="font-size: 14px;color: rgb(0, 128, 255);">城市绿洲新生家长会（5.28线下</span><span
            style="color: rgb(0, 128, 255);font-size: 14px;">）</span></div>
    <div style="margin-right: 8px;margin-left: 8px;white-space: normal;"><span
            style="color: rgb(0, 128, 255);font-size: 14px;">……</span></div>
    <p style="margin-right: 8px;margin-left: 8px;white-space: normal;"><br></p>
    <p style="margin-right: 8px;margin-left: 8px;white-space: normal;"><span
            style="font-size: 14px;">扫码添加小助手，即可报名相应活动。</span></p>
    <div
        style="margin-bottom: 0em;outline: 0px;max-width: 100%;color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 0.544px;background-color: rgb(255, 255, 255);text-align: center;line-height: normal;box-sizing: border-box !important;overflow-wrap: break-word !important;">
        <br>
    </div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;">
            <div
                style="text-align: center;margin: 10px 0%;justify-content: center;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;vertical-align: middle;width: 10%;line-height: 0;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                    <div style="margin-right: 0%;margin-left: 0%;box-sizing: border-box;"><br></div>
                </div>
                <div
                    style="display: inline-block;vertical-align: middle;width: auto;min-width: 10%;max-width: 100%;flex: 0 0 auto;height: auto;align-self: center;box-sizing: border-box;">
                    <div style="color: rgb(0, 128, 255);line-height: 1;font-size: 14px;box-sizing: border-box;">
                        <p style="box-sizing: border-box;">左右滑动查看更多</p>
                    </div>
                </div>
                <div
                    style="display: inline-block;vertical-align: middle;width: 10%;line-height: 0;align-self: center;flex: 0 0 auto;box-sizing: border-box;">
                    <div style="margin-right: 0%;margin-left: 0%;transform: rotateY(180deg);box-sizing: border-box;">
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="box-sizing: border-box;font-size: 16px;">
        <div style="box-sizing: border-box;">
            <div
                style="text-align: left;justify-content: flex-start;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                <div
                    style="display: inline-block;width: 100%;vertical-align: top;background-color: rgb(234, 238, 244);align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                    <div
                        style="display: inline-block;width: 100%;vertical-align: top;overflow-x: auto;box-sizing: border-box;">
                        <div
                            style="overflow: hidden;width: 255%;transform: rotate(0deg);-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);max-width: 255% !important;box-sizing: border-box;">
                            <div
                                style="display: inline-block;vertical-align: middle;width: 33.3333%;box-sizing: border-box;">
                                <div
                                    style="margin: 30px 0%;text-align: center;justify-content: center;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                    <div
                                        style="display: inline-block;width: 88%;vertical-align: top;box-shadow: rgb(255, 255, 255) -12px -12px 24px;flex: 0 0 auto;height: auto;border-width: 0px;border-radius: 20px 20px 0px;border-style: none;border-color: rgb(62, 62, 62);align-self: flex-start;box-sizing: border-box;">
                                        <div style="box-sizing: border-box;">
                                            <div
                                                style="justify-content: center;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                                <div
                                                    style="display: inline-block;width: 100%;vertical-align: top;box-shadow: rgba(163, 177, 198, 0.5) 12px 12px 24px;border-width: 0px;border-radius: 20px;border-style: none;border-color: rgb(62, 62, 62);overflow: hidden;align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                                                    <div
                                                        style="margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                                        <div
                                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-shadow: rgb(0, 0, 0) 0px 0px 0px;box-sizing: border-box;">
                                                            <img class="rich_pages wxw-img"
                                                                src="//www.ieduchina.com/uploadfile/202205/f57620220518155849.jpg"
                                                                style="font-size: 16px;text-align: center;white-space: normal;background-color: rgb(234, 238, 244);color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 0.544px;outline: 0px;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;height: auto;">
                                                        </div>
                                                    </div>
                                                    <div style="box-sizing: border-box;">
                                                        <div
                                                            style="display: flex;flex-flow: row nowrap;margin-top: 20px;margin-right: 0%;margin-left: 0%;justify-content: center;box-sizing: border-box;">
                                                            <div
                                                                style="display: inline-block;vertical-align: bottom;width: auto;min-width: 10%;max-width: 100%;flex: 0 0 auto;height: auto;align-self: flex-end;margin-left: 20px;box-shadow: rgb(0, 0, 0) 0px 0px 0px;box-sizing: border-box;">
                                                                <div
                                                                    style="color: rgb(0, 128, 255);box-sizing: border-box;">
                                                                    <p style="box-sizing: border-box;"><strong
                                                                            style="box-sizing: border-box;">01</strong>
                                                                    </p>
                                                                </div>
                                                                <div
                                                                    style="display: inline-block;width: 100%;height: 4px;vertical-align: top;overflow: hidden;border-width: 0px;border-radius: 10px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgb(0, 128, 255);box-shadow: rgb(0, 0, 0) 0px 0px 0px inset;box-sizing: border-box;">
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                            <div
                                                                style="display: inline-block;vertical-align: bottom;width: auto;flex: 100 100 0%;align-self: flex-end;height: auto;box-shadow: rgb(0, 0, 0) 0px 0px 0px;margin-right: 20px;box-sizing: border-box;">
                                                                <div style="box-sizing: border-box;">
                                                                    <div
                                                                        style="display: inline-block;width: 90%;height: 4px;vertical-align: top;overflow: hidden;border-width: 0px;border-radius: 10px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgb(224, 229, 236);box-shadow: rgba(163, 177, 198, 0.5) 0px 0px 4px inset;box-sizing: border-box;">
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="margin: 10px 0% 30px;box-sizing: border-box;">
                                                        <div
                                                            style="color: rgb(81, 91, 105);text-align: justify;padding-right: 18px;padding-left: 18px;font-size: 14px;letter-spacing: 0.5px;box-sizing: border-box;">
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <span
                                                                    style="
font-family: Source Han Sans CN-Regular, Source Han Sans CN;outline: 0px;max-width: 100%;color: rgb(64, 64, 64);letter-spacing: 1px;box-sizing: border-box !important;overflow-wrap: break-word !important;"><img
                                                                        class="rich_pages wxw-img"
                                                                        src="//www.ieduchina.com/uploadfile/202205/f16220220518155849.jpg"
                                                                        style="vertical-align: text-bottom;outline: 0px;color: rgb(0, 128, 255);letter-spacing: 0.544px;display: inline-block;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;width: 20px !important;"><img
                                                                        src="//www.ieduchina.com/uploadfile/202205/f43420220518155850.jpg"
                                                                        class="rich_pages wxw-img"
                                                                        style="vertical-align: text-bottom;display: inline-block;width: 20px;">&nbsp;</span><span
                                                                    style="
font-family: Source Han Sans CN-Regular, Source Han Sans CN;color: rgb(255, 76, 65);outline: 0px;max-width: 100%;letter-spacing: 1px;">
                                                                    <strong
                                                                        style="outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">牛津</strong><strong
                                                                        style="outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;">硕士外方校长揭晓双语教育的魅力！</strong></span><br>
                                                            </p>
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <br>
                                                            </p>
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <span
                                                                    style="color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;text-align: left;outline: 0px;max-width: 100%;"><strong
                                                                        style="outline: 0px;max-width: 100%;color: rgb(0, 128, 255);box-sizing: border-box !important;overflow-wrap: break-word !important;"><span
                                                                            style="outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;"></span></strong></span><span
                                                                    style="
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;text-align: left;outline: 0px;max-width: 100%;color: rgb(0, 128, 255);">&nbsp;</span><strong
                                                                    style="color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;font-size: 16px;letter-spacing: 1px;text-align: left;outline: 0px;max-width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;"><span
                                                                        style="outline: 0px;max-width: 100%;color: rgb(0, 128, 255);font-size: 14px;box-sizing: border-box !important;overflow-wrap: break-word !important;">5月19日（周四）晚直播间</span></strong><span
                                                                    style="
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;outline: 0px;max-width: 100%;color: rgb(64, 64, 64);">，本期特邀嘉宾：牛津大学硕士、深圳市龙华区诺德双语学校外方校长
                                                                    Jakub Peciak ，一口流利中英双语，带你一同了解双语教育的魅力！</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                style="display: inline-block;vertical-align: top;width: 33.3333%;box-sizing: border-box;">
                                <div
                                    style="margin: 30px 0%;text-align: center;justify-content: center;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                    <div
                                        style="display: inline-block;width: 88%;vertical-align: top;box-shadow: rgb(255, 255, 255) -12px -12px 24px;flex: 0 0 auto;height: auto;border-width: 0px;border-radius: 20px 20px 0px;border-style: none;border-color: rgb(62, 62, 62);align-self: flex-start;box-sizing: border-box;">
                                        <div style="box-sizing: border-box;">
                                            <div
                                                style="justify-content: center;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                                <div
                                                    style="display: inline-block;width: 100%;vertical-align: top;box-shadow: rgba(163, 177, 198, 0.5) 12px 12px 24px;border-width: 0px;border-radius: 20px;border-style: none;border-color: rgb(62, 62, 62);overflow: hidden;align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                                                    <div
                                                        style="margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                                        <div
                                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-shadow: rgb(0, 0, 0) 0px 0px 0px;box-sizing: border-box;">
                                                            <img class="rich_pages wxw-img"
                                                                src="//www.ieduchina.com/uploadfile/202205/f77420220518155850.jpg"
                                                                style="font-size: 16px;text-align: center;white-space: normal;background-color: rgb(234, 238, 244);color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 0.544px;outline: 0px;width: 100%;box-sizing: border-box !important;overflow-wrap: break-word !important;visibility: visible !important;height: auto;">
                                                        </div>
                                                    </div>
                                                    <div style="box-sizing: border-box;">
                                                        <div
                                                            style="display: flex;flex-flow: row nowrap;margin-top: 20px;margin-right: 0%;margin-left: 0%;justify-content: center;box-sizing: border-box;">
                                                            <div
                                                                style="display: inline-block;vertical-align: bottom;width: auto;min-width: 10%;max-width: 100%;flex: 0 0 auto;height: auto;align-self: flex-end;margin-left: 20px;box-shadow: rgb(0, 0, 0) 0px 0px 0px;box-sizing: border-box;">
                                                                <div
                                                                    style="color: rgb(0, 128, 255);box-sizing: border-box;">
                                                                    <p style="box-sizing: border-box;"><strong
                                                                            style="box-sizing: border-box;">02</strong>
                                                                    </p>
                                                                </div>
                                                                <div
                                                                    style="display: inline-block;width: 100%;height: 4px;vertical-align: top;overflow: hidden;border-width: 0px;border-radius: 10px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgb(0, 128, 255);box-shadow: rgb(0, 0, 0) 0px 0px 0px inset;box-sizing: border-box;">
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                            <div
                                                                style="display: inline-block;vertical-align: bottom;width: auto;flex: 100 100 0%;align-self: flex-end;height: auto;box-shadow: rgb(0, 0, 0) 0px 0px 0px;margin-right: 20px;box-sizing: border-box;">
                                                                <div style="box-sizing: border-box;">
                                                                    <div
                                                                        style="display: inline-block;width: 90%;height: 4px;vertical-align: top;overflow: hidden;border-width: 0px;border-radius: 10px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgb(224, 229, 236);box-shadow: rgba(163, 177, 198, 0.5) 0px 0px 4px inset;box-sizing: border-box;">
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="margin: 10px 0% 30px;box-sizing: border-box;">
                                                        <div
                                                            style="color: rgb(81, 91, 105);text-align: justify;padding-right: 18px;padding-left: 18px;font-size: 14px;letter-spacing: 0.5px;box-sizing: border-box;">
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <strong style="color: rgb(255, 76, 65);"><img
                                                                        src="//www.ieduchina.com/uploadfile/202205/f30320220518155850.jpg"
                                                                        class="rich_pages wxw-img"
                                                                        style="vertical-align: text-bottom;display: inline-block;width: 20px;"><img
                                                                        class="rich_pages wxw-img"
                                                                        src="//www.ieduchina.com/uploadfile/202205/f30320220518155850.jpg"
                                                                        style="vertical-align: text-bottom;display: inline-block;width: 20px;">&nbsp;一堂给已录取城市绿洲及准备申请城市绿洲的家长必修课！</strong><br>
                                                            </p>
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <br>
                                                            </p>
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <span style="color: rgb(64, 64, 64);"><span
                                                                        style="color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;text-align: left;outline: 0px;max-width: 100%;"><strong
                                                                            style="outline: 0px;max-width: 100%;color: rgb(0, 128, 255);box-sizing: border-box !important;overflow-wrap: break-word !important;"></strong></span><span
                                                                        style="
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;text-align: left;outline: 0px;max-width: 100%;color: rgb(0, 128, 255);">&nbsp;</span><strong
                                                                        style="color: rgb(81, 91, 105);"><span
                                                                            style="color: rgb(0, 128, 255);">5月28日（周六）上午</span></strong><span
                                                                        style="color: rgb(81, 91, 105);">，</span><strong>线下城市绿洲新生家长会：</strong>在读学生家长讲述绿洲最真实的学习生活，帮助孩子尽快融入校园！</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                style="display: inline-block;vertical-align: top;width: 33.3333%;box-sizing: border-box;">
                                <div
                                    style="margin: 30px 0%;text-align: center;justify-content: center;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                    <div
                                        style="display: inline-block;width: 88%;vertical-align: top;box-shadow: rgb(255, 255, 255) -12px -12px 24px;flex: 0 0 auto;height: auto;border-width: 0px;border-radius: 20px 20px 0px;border-style: none;border-color: rgb(62, 62, 62);align-self: flex-start;box-sizing: border-box;">
                                        <div style="box-sizing: border-box;">
                                            <div
                                                style="justify-content: center;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                                                <div
                                                    style="display: inline-block;width: 100%;vertical-align: top;box-shadow: rgba(163, 177, 198, 0.5) 12px 12px 24px;border-width: 0px;border-radius: 20px;border-style: none;border-color: rgb(62, 62, 62);overflow: hidden;align-self: flex-start;flex: 0 0 auto;box-sizing: border-box;">
                                                    <div
                                                        style="margin-right: 0%;margin-left: 0%;box-sizing: border-box;">
                                                        <div
                                                            style="max-width: 100%;vertical-align: middle;display: inline-block;line-height: 0;box-shadow: rgb(0, 0, 0) 0px 0px 0px;box-sizing: border-box;">
                                                            <img class="rich_pages wxw-img"
                                                                src="//www.ieduchina.com/uploadfile/202205/f18420220518155850.jpg"
                                                                style="vertical-align: middle;font-size: 16px;text-align: center;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;width: 100%;height: auto;height: auto !important;">
                                                        </div>
                                                    </div>
                                                    <div style="box-sizing: border-box;">
                                                        <div
                                                            style="display: flex;flex-flow: row nowrap;margin-top: 20px;margin-right: 0%;margin-left: 0%;justify-content: center;box-sizing: border-box;">
                                                            <div
                                                                style="display: inline-block;vertical-align: bottom;width: auto;min-width: 10%;max-width: 100%;flex: 0 0 auto;height: auto;align-self: flex-end;margin-left: 20px;box-shadow: rgb(0, 0, 0) 0px 0px 0px;box-sizing: border-box;">
                                                                <div
                                                                    style="color: rgb(0, 128, 255);box-sizing: border-box;">
                                                                    <p style="box-sizing: border-box;"><strong
                                                                            style="box-sizing: border-box;">03</strong>
                                                                    </p>
                                                                </div>
                                                                <div
                                                                    style="display: inline-block;width: 100%;height: 4px;vertical-align: top;overflow: hidden;border-width: 0px;border-radius: 10px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgb(0, 128, 255);box-shadow: rgb(0, 0, 0) 0px 0px 0px inset;box-sizing: border-box;">
                                                                    <div></div>
                                                                </div>
                                                            </div>
                                                            <div
                                                                style="display: inline-block;vertical-align: bottom;width: auto;flex: 100 100 0%;align-self: flex-end;height: auto;box-shadow: rgb(0, 0, 0) 0px 0px 0px;margin-right: 20px;box-sizing: border-box;">
                                                                <div style="box-sizing: border-box;">
                                                                    <div
                                                                        style="display: inline-block;width: 90%;height: 4px;vertical-align: top;overflow: hidden;border-width: 0px;border-radius: 10px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgb(224, 229, 236);box-shadow: rgba(163, 177, 198, 0.5) 0px 0px 4px inset;box-sizing: border-box;">
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="margin: 10px 0% 30px;box-sizing: border-box;">
                                                        <div
                                                            style="color: rgb(81, 91, 105);text-align: justify;padding-right: 18px;padding-left: 18px;font-size: 14px;letter-spacing: 0.5px;box-sizing: border-box;">
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <img src="//www.ieduchina.com/uploadfile/202205/f43420220518155850.jpg"
                                                                    class="rich_pages wxw-img"
                                                                    style="vertical-align: text-bottom;display: inline-block;width: 20px;"><img
                                                                    class="rich_pages wxw-img"
                                                                    src="//www.ieduchina.com/uploadfile/202205/f43420220518155850.jpg"
                                                                    style="vertical-align: text-bottom;display: inline-block;width: 20px;">&nbsp;<strong><span
                                                                        style="color: rgb(255, 76, 65);">读万卷书，行万里路</span></strong>
                                                            </p>
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <br><span
                                                                    style="color: rgb(34, 34, 34);
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;text-align: left;outline: 0px;max-width: 100%;"><strong
                                                                        style="outline: 0px;max-width: 100%;color: rgb(0, 128, 255);box-sizing: border-box !important;overflow-wrap: break-word !important;"></strong></span><span
                                                                    style="
font-family: Source Han Sans CN-Regular, Source Han Sans CN;letter-spacing: 1px;text-align: left;outline: 0px;max-width: 100%;color: rgb(0, 128, 255);">&nbsp;</span><strong><span
                                                                        style="color: rgb(0, 128, 255);">5月26日（周四）晚直播间</span></strong>，国际教育网linda老师对话一位真正的世界学者：Mr.
                                                                Aaron Butler
                                                            </p>
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                <br>
                                                            </p>
                                                            <p
                                                                style="color: rgb(81, 91, 105);font-size: 14px;letter-spacing: 0.5px;white-space: normal;background-color: rgb(234, 238, 244);box-sizing: border-box;">
                                                                Mr. Aaron Butler
                                                                生于英国，长于加拿大，接受过纯正美国教育，在韩国、西班牙、沙特阿拉伯、中国等有17年工作经验，资深教育工作者带您领略不同国家的国际教育特色。
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="box-sizing: border-box;">
                        <div
                            style="text-align: center;justify-content: center;margin-right: 0%;margin-left: 0%;display: flex;flex-flow: row nowrap;box-sizing: border-box;">
                            <div
                                style="display: inline-block;vertical-align: top;width: auto;min-width: 10%;max-width: 100%;flex: 0 0 auto;height: auto;align-self: flex-start;box-sizing: border-box;">
                                <div style="box-sizing: border-box;">
                                    <div
                                        style="display: inline-block;width: 8px;height: 8px;vertical-align: top;overflow: hidden;border-width: 0px;border-radius: 8px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgb(211, 218, 229);box-shadow: rgb(0, 0, 0) 0px 0px 0px;box-sizing: border-box;">
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div
                                style="display: inline-block;vertical-align: top;width: auto;flex: 0 0 0%;height: auto;align-self: flex-start;box-sizing: border-box;">
                                <div style="box-sizing: border-box;">
                                    <div
                                        style="display: inline-block;width: 8px;height: 8px;vertical-align: top;overflow: hidden;border-width: 0px;border-radius: 8px;border-style: none;border-color: rgb(62, 62, 62);background-color: rgb(211, 218, 229);box-sizing: border-box;">
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div
                                style="display: inline-block;vertical-align: top;width: auto;min-width: 10%;max-width: 100%;flex: 0 0 auto;height: auto;align-self: flex-start;box-sizing: border-box;">
                                <div style="box-sizing: border-box;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p
        style="margin-bottom: 0em; outline: 0px; max-width: 100%; color: rgb(34, 34, 34); font-family: Source Han Sans CN-Regular, Source Han Sans CN; letter-spacing: 0.544px; background-color: rgb(255, 255, 255); text-align: center; box-sizing: border-box !important; overflow-wrap: break-word !important;">
        <br>
    </p>
    <div class="total">
        <span>
            <a href="https://www.ieduchina.com/mp/login_member.html" rel="nofollow"><i class="f"></i>发文</a>
        </span>
        <span class="thumbs-up-new">
            <a><i class="d"></i> 0</a>
        </span>
        <span>
            <a><i class="p"></i>评论100</a>
        </span>
        <span>
            <a href="https://www.ieduchina.com/service/tousu.html" rel="nofollow"><i class="j"></i>举报</a>
        </span>
    </div>
    <p style="color:#919191;font-size:13px;margin-bottom:10px;">声明：本文内容为国际教育号作者发布，不代表国际教育网的观点和立场，本平台仅提供信息存储服务。
    </p>
</div>