@rem: 750/16rem;
.aaasssddd{
	color: red;
}
.aboutus-banner714 {
    .banner714 {
        width: 100%;
        height: (320/@rem);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .menu714 {
        font-family: Microsoft YaHei;
        width: 100%;
        height: (67/@rem);
        background: #ECEAEA;
        display: flex;
        justify-content: space-between;
        padding: 0 (24/@rem);
        box-sizing: border-box;

        li {
            a {
            	color: darkred;
                span {
                    display: inline-block;
                    font-size: (24/@rem);
                    font-weight: 400;
                    line-height: (67/@rem);
                    color: #707070;
                }
            }

            &.active {
                a {
                    span {
                        font-size: (26/@rem);
                        font-weight: bold;
                        color: #0770D1;
                    }
                }
            }
        }
    }
}

.about-content714 {
	padding-bottom: (30/@rem);
    .content714{
        padding: 0 (26/@rem);
        h2.title714 {
            font-size: (36/@rem);
            font-family: Segoe UI;
            font-weight: bold;
            color: #0770D1;
            height: (130/@rem);
            line-height: (110/@rem);
            text-align: center;
            position: relative;
            z-index: 50;
            &::after{
                position: absolute;
                left: 0;
				width: 100%;
				text-align: center;
                content: attr(en);
                bottom: (-4/@rem);
                z-index: -1;
                font-size: (40/@rem);
                font-family: Microsoft YaHei;
                font-weight: bold;
                color: #eeeeee;
            }
        }
        p{
            font-size: (24/@rem);
            font-weight: 400;
            line-height: (40/@rem);
            color: #1E1E1E;
            text-align: justify;
			padding: 0 (9/@rem);
            span{
                font-size: (26/@rem);
                &.blue{
                    color: #0770D1;
                    font-weight: bold;
                }
				&.black{
					color: #1E1E1E;
					font-weight: bold;
				}
            }
        }
		.point{
			position: relative;
			&.point{
				position: relative;
				&::after{
					content: "";
					position: absolute;
					right: (32/@rem);
					top: 0;
					z-index: 500;
					width: (22/@rem);
					height: (36/@rem);
					background-color: rgba(255, 101, 101, 1);
				}
			}
		}
        img{
			display: block;
            width: 100%;
            margin: (28/@rem) 0;
			&.m2{
				margin-top: (80/@rem);
			}
        }
		&.bg3{
			margin-top: (48/@rem);
			background-position: top;
			background-size: contain;
			background-repeat: no-repeat;
		}
    }
	.bg{
		position: relative;
		width: 100%;
		z-index: -1;
		height: (594/@rem);
		background: #F2F2F2;
		margin-top: (-560/@rem);
		&::after{
			position: absolute;
			bottom: (-20/@rem);
			left: 50%;
			transform:  translateX(-50%) rotateZ(45deg);
			z-index:10;
			content: "";
			width: (40/@rem);
			height: (40/@rem);
			background-color: white;
		}
	}
	.bg2{
		margin: (25/@rem) 0;
		width: 100%;
		height: (323/@rem);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		box-sizing: border-box;
		padding-top: (26/@rem);
		p{
			text-align: justify;
			padding: 0 (35/@rem);
			font-size: (24/@rem);
			font-weight: 400;
			line-height: (36/@rem);
			color: #FFFFFF;
			span{
				font-weight: bold;
			}
		}
	}
}
.about-contactus714{
	box-sizing: border-box;
	padding: 0 (24/@rem) (130/@rem);
	font-family: Microsoft YaHei;
	img{
		width: 100%;
		margin: (30/@rem) 0;
	}
	p{
		font-size: (30/@rem);
		font-weight: 400;
		line-height: (60/@rem);
		color: #191919;
	}
}
.about-contribution714{
	padding: 0 (24/@rem);
	font-size: (24/@rem);
	font-family: Microsoft YaHei;
	line-height: (40/@rem);
	color: #1E1E1E;
	img{
		width: 100%;
		margin: (20/@rem) 0;
	}
	h3{
		font-weight: bold;
	}
}
.about-joinus714{
	font-family: Microsoft YaHei;
	.about-joinus-item{
		h2.title714 {
		    font-size: (40/@rem);
		    font-family: Segoe UI;
		    font-weight: bold;
		    color: #0770D1;
		    height: (130/@rem);
		    line-height: (110/@rem);
		    text-align: center;
		    position: relative;
		    z-index: 50;
		    &::after{
		        position: absolute;
		        left: 0;
				width: 100%;
				text-align: center;
		        content: attr(en);
		        bottom: (-4/@rem);
		        z-index: -1;
		        font-size: (40/@rem);
		        font-family: Microsoft YaHei;
		        font-weight: bold;
		        color: #eeeeee;
		    }
		}
		.about-joinus-menu{
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;
			padding: 0 (56/@rem);
			width: 100%;
			li{
				text-align: center;
				img{
					width: (100/@rem);
					height: (100/@rem);
				}
				p{
					margin: (13/@rem) 0;
					font-size: (32/@rem);
					font-weight: 400;
					height: (42/@rem);
					line-height: (42/@rem);
					color: #1E1E1E;
				}
			}
		}
	}
	.about-joinus-swiper{
		padding: 0 (24/@rem);
		.swiper-container{
			.swiper-wrapper{
				.swiper-slide{
					width: (397/@rem);
					height: (257/@rem);
					border-radius: (10/@rem);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}
	}
	.tip{
		font-size: (24/@rem);
		font-weight: 400;
		line-height: (48/@rem);
		color: #1E1E1E;
		padding: (12/@rem) (24/@rem);
	}
	.about-joinus-work{
		margin: (12/@rem) (24/@rem) (68/@rem);
		box-shadow: 0 (3/@rem) (6/@rem) rgba(0, 0, 0, 0.16);
		border-radius: (6/@rem);
		background-color: white;
		box-sizing: border-box;
		padding-bottom: (30/@rem);
		li{
			padding: 0 (32/@rem);
			.title{
				width: 100%;
				height: (85/@rem);
				display: flex;
				justify-content: space-between;
				border-bottom: solid (2/@rem) rgba(213, 213, 213, 0.5);
				line-height: (85/@rem);
				font-size: (24/@rem);
				span{
					&.weight{
						font-weight: bold;
					}
					&.address{
						img{
							height: (26/@rem);
							vertical-align: (-4/@rem);
							margin-right: (8/@rem);
						}
					}
					&.detail{
						font-size: (24/@rem);
						font-family: Microsoft YaHei;
						font-weight: 400;
						line-height: (85/@rem);
						color: #0770D1;
						img{
							width: (20/@rem);
							margin-left: (2/@rem);
							vertical-align: middle;
							transform: rotateX(180deg)
						}
						&.top{
							img{
								transform: rotateX(0deg)
							}
						}
					}
				}
			}
			.details{
				height: 0;
				overflow: hidden;
				&.border{
					border-bottom: (2/@rem) solid rgba(112, 112, 112, 0.5);
				}
				.con{
					padding: (10/@rem) 0 (20/@rem);
					p{
						text-align: justify;
						font-size: (24/@rem);
						font-weight: 400;
						line-height: (48/@rem);
						color: #1E1E1E;
						&.titles{
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}