.section .agreement {
  padding: 2.34666667rem 0.512rem;
  font-size: 0.59733333rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 0.78933333rem;
  color: #1F1F20;
  text-align: justify;
}
