@rem:750/16rem;
.section{
	.agreement{
		padding: (110/@rem) (24/@rem);
		font-size: (28/@rem);
		font-family: Microsoft YaHei;
		font-weight: 400;
		line-height: (37/@rem);
		color: #1F1F20;
		text-align: justify;
	}
}