.section .w-detail {
  padding: 2.56rem 0.512rem 0.768rem;
}
.section .w-detail .w-header {
  height: 2.688rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  line-height: 2.688rem;
  justify-content: space-between;
}
.section .w-detail .w-header a {
  display: flex;
  justify-content: space-between;
}
.section .w-detail .w-header a img {
  width: 1.55733333rem;
  height: 1.55733333rem;
  border-radius: 50%;
}
.section .w-detail .w-header a .name {
  height: 1.55733333rem;
  flex: 1;
  font-family: Microsoft YaHei;
  padding-left: 0.384rem;
}
.section .w-detail .w-header a .name h2 {
  padding: 0;
  font-size: 0.68266667rem;
  font-weight: 400;
  color: #212121;
  line-height: 0.98133333rem;
  text-align: left;
}
.section .w-detail .w-header a .name p {
  padding: 0;
  font-size: 0.512rem;
  font-weight: 300;
  color: #171717;
  text-align: left;
  line-height: 1;
}
.section .w-detail .w-header button {
  cursor: pointer;
  width: 2.38933333rem;
  height: 0.93866667rem;
  background: #FFFFFF;
  border: 1px solid #FC4242;
  border-radius: 0.21333333rem;
  margin-top: 0.26666667rem;
  font-size: 0.55466667rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #F53F3F;
}
.section .w-detail .w-text p {
  width: 100%;
  box-sizing: border-box;
  text-align: justify;
  padding-bottom: 0.53333333rem;
  font-size: 0.59733333rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 0.768rem;
  color: #171717;
}
.section .w-detail ul {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.section .w-detail ul li {
  width: 4.65066667rem;
  height: 4.65066667rem;
  border-radius: 0.42666667rem;
  margin-right: 0.512rem;
  margin-top: 0.384rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section .w-detail ul li:nth-of-type(3n) {
  margin-right: 0;
}
.section .w-detail ul li.one {
  width: 10.41066667rem;
  height: 10.41066667rem;
}
