.headernav {
  position: relative;
  width: 100%;
}
.headernav .header {
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  z-index: 1000;
  height: 1.92rem;
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: space-between;
  padding: 0 0.64rem;
  background-color: #ffffff;
  border-bottom: rgba(180, 180, 180, 0.5) solid 0.04266667rem;
  line-height: 1.92rem;
}
.headernav .header div {
  line-height: 1.92rem;
}
.headernav .header div.left {
  flex: 2;
  text-align: left;
}
.headernav .header div.left img {
  width: 0.896rem;
}
.headernav .header a.right {
  flex: 0.8;
  text-align: right;
}
.headernav .header a.right img {
  width: 1.024rem;
  height: 1.024rem;
  border-radius: 50%;
}
.headernav .header a.search {
  flex: 1.2;
  text-align: right;
}
.headernav .header a.search img {
  width: 0.64rem;
  height: 0.64rem;
}
.headernav .header h1 {
  flex: 4;
  text-align: center;
}
.headernav .header h1 img {
  height: 0.85333333rem;
}
.headernav .topmenu {
  height: 1.792rem;
  background-color: #035297;
  margin-bottom: -0.04266667rem;
}
.headernav .topmenu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  line-height: 1.74933333rem;
}
.headernav .topmenu ul li {
  font-size: 0.59733333rem;
  font-family: PingFang SC;
  font-weight: 500;
}
.headernav .topmenu ul li a {
  color: #FFFFFF;
}
.headernav .topmenu ul li.active {
  position: relative;
}
.headernav .topmenu ul li.active::before {
  position: absolute;
  left: 50%;
  bottom: 0.21333333rem;
  transform: translateX(-50%);
  content: "";
  width: 1.49333333rem;
  height: 0.128rem;
  background-color: #ffffff;
  border-radius: 0.064rem;
}
.headernav .index-menu-wrap {
  position: fixed;
  left: 50%;
  right: 0;
  top: 1.92rem;
  transform: translateX(-50%);
  width: 100%;
  max-width: 750px;
  z-index: 3000;
  height: 0;
  background-color: #ffffff;
  overflow: hidden;
}
.headernav .index-menu-wrap .index-menu {
  overflow-y: auto;
  max-height: 100vh;
}
.headernav .index-menu-wrap .index-menu h2 {
  font-size: 0.68266667rem;
  font-weight: bold;
  line-height: 1.152rem;
  color: #000000;
  padding: 0.42666667rem 0 0 0.59733333rem;
}
.headernav .index-menu-wrap .index-menu .title {
  position: relative;
  height: 1.70666667rem;
  width: 100%;
  font-size: 0.59733333rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #000000;
  line-height: 1.70666667rem;
  text-align: center;
  border-bottom: rgba(180, 180, 180, 0.5) solid 0.04266667rem;
}
.headernav .index-menu-wrap .index-menu .title .close-menu {
  position: absolute;
  right: 0.59733333rem;
  top: 0.53333333rem;
  width: 0.64rem;
  height: 0.64rem;
  background-image: url(../images/close.png?t=1214);
  background-size: 100% 100%;
}
.headernav .index-menu-wrap .index-menu ul {
  overflow: hidden;
  padding-bottom: 1.25866667rem;
  padding-left: 0.59733333rem;
}
.headernav .index-menu-wrap .index-menu ul:last-of-type {
  padding-bottom: 2.13333333rem;
}
.headernav .index-menu-wrap .index-menu ul li {
  margin-right: 0.85333333rem;
  margin-top: 0.512rem;
  float: left;
  width: 4.26666667rem;
  height: 1.19466667rem;
  font-size: 0.59733333rem;
  font-weight: 400;
  color: #000000;
  border-radius: 0.21333333rem;
  border: 0.04266667rem solid rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 1.19466667rem;
}
.headernav .index-menu-wrap .index-menu ul li a {
  color: #000000;
}
