.headernew {
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 100;
  transform: translateX(-50%);
  background-color: white;
  height: 1.92rem;
  width: 100%;
  max-width: 750px;
  text-align: center;
  line-height: 1.92rem;
  font-size: 0.512rem;
  box-shadow: 0 0.064rem 0.128rem rgba(0, 0, 0, 0.16);
}
.headernew > img {
  width: 3.69066667rem;
  height: 0.93866667rem;
  margin-top: 0.21333333rem;
}
.headernew .back {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.28rem;
  height: 1.92rem;
  line-height: 1.92rem;
  background-image: url(../images/iconlist.png);
  background-repeat: no-repeat;
  background-size: 20.416rem 9.23733333rem;
  background-position: -9.25866667rem -0.85333333rem;
}
.headernew h2 {
  font-size: 0.68266667rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 1.92rem;
  color: #1F1F20;
}
.headernew .signout {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.41333333rem;
  height: 1.92rem;
  line-height: 1.92rem;
  font-size: 0.68266667rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #0770D1;
}
.section {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  max-width: 750px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.section h2.title {
  font-size: 0.85333333rem;
  line-height: 1.28rem;
  padding: 3.60533333rem 0 1.13066667rem;
  text-align: center;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
}
.section .login {
  width: 12.8rem;
  height: 15.232rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.27733333rem;
}
.section .login .tab {
  display: flex;
  justify-content: space-between;
}
.section .login .tab span {
  width: 6.4rem;
  height: 1.87733333rem;
  text-align: center;
  line-height: 1.87733333rem;
  font-size: 0.768rem;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #171717;
}
.section .login .tab span:first-of-type.active {
  background: rgba(51, 108, 255, 0.8);
  border-radius: 0.27733333rem 0 0.27733333rem 0;
  color: white;
}
.section .login .tab span:last-of-type.active {
  background: rgba(51, 108, 255, 0.8);
  border-radius: 0 0.27733333rem 0 0.27733333rem;
  color: white;
}
.section .login .content {
  width: 12.8rem;
  height: 13.35466667rem;
  box-sizing: border-box;
  padding: 0.55466667rem 0.96rem;
  text-align: center;
}
.section .login .content .input {
  position: relative;
  width: 100%;
  height: 1.45066667rem;
  text-align: right;
  margin-top: 1.30133333rem;
  background-image: url(../images/iconlist.png);
  background-repeat: no-repeat;
  background-size: 20.416rem 9.23733333rem;
  background-position: 0 0;
  border-radius: 0 50% 50% 0;
}
.section .login .content .input.user {
  background-position: -1.408rem -1.28rem;
}
.section .login .content .input.psd {
  background-position: -1.38666667rem -3.54133333rem;
}
.section .login .content .input.verify {
  background-position: -1.30133333rem -5.888rem;
}
.section .login .content .input input[type='text'],
.section .login .content .input input[type='password'] {
  width: 9.152rem;
  height: 1.45066667rem;
  border: 0.04266667rem solid rgba(96, 96, 96, 0.5);
  border-radius: 2.13333333rem;
  font-size: 0.55466667rem;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #000000;
  padding: 0 0.46933333rem;
  box-sizing: border-box;
}
.section .login .content .input input[type='text']:placeholder,
.section .login .content .input input[type='password']:placeholder {
  color: #575757;
}
.section .login .content .input .getCode {
  position: absolute;
  right: 0;
  font-size: 0.55466667rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #336cff;
  line-height: 1.45066667rem;
  padding: 0 0.27733333rem;
  background-color: transparent;
  border: none;
}
.section .login .content p.tool {
  margin-top: 0.34133333rem;
  padding-left: 2.13333333rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.49333333rem;
}
.section .login .content p.tool a {
  font-size: 0.59733333rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #336cff;
}
.section .login .content p.tool a:last-of-type {
  color: #403e3e;
}
.section .login .content button.submit {
  cursor: pointer;
  margin-top: 2.38933333rem;
  width: 9.152rem;
  height: 1.45066667rem;
  background: #336cff;
  border-radius: 2.13333333rem;
  border: none;
  outline: none;
  font-size: 0.85333333rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}
.section .login .content button.submit.bt2 {
  margin-top: 3.328rem;
}
.section .login .content button.submit.bt-reg {
  margin-top: 0;
}
.section .login .content .tool-bottom {
  text-align: center;
  font-size: 0.512rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #403e3e;
  line-height: 1.408rem;
}
.section .login .content .tool-bottom.top {
  margin-top: 1.74933333rem;
}
.section .login .content .tool-bottom a {
  color: #403E3E;
}
.section .login .content .tool-bottom a[href] {
  color: #336cff;
}
