.publish {
  padding: 2.26133333rem 0.512rem;
}
.publish .publish-image {
  min-height: 19.2rem;
}
.publish .publish-image .textarea {
  min-height: 8.192rem;
  width: 100%;
  font-size: 0.59733333rem;
  font-family: Microsoft YaHei;
  font-weight: 300;
  line-height: 0.768rem;
  color: #414141;
  border: none;
  text-align: justify;
  resize: none;
}
.publish .publish-image .publish-list ul {
  padding: 0.42666667rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-flow: row wrap;
}
.publish .publish-image .publish-list ul li {
  position: relative;
  width: 4.608rem;
  height: 4.18133333rem;
  box-sizing: border-box;
  border-radius: 0.21333333rem;
  border: solid 0.04266667rem #9f9f9f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0.55466667rem;
}
.publish .publish-image .publish-list ul li:nth-of-type(3n+1) {
  margin-left: 0;
}
.publish .publish-image .publish-list ul li:nth-of-type(n+4) {
  margin-top: 0.55466667rem;
}
.publish .publish-image .publish-list ul li:nth-of-type(n+10) {
  display: none;
}
.publish .publish-image .publish-list ul li input[type='file'] {
  position: absolute;
  z-index: 20;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  width: 4.608rem;
  height: 4.18133333rem;
  box-sizing: border-box;
  border-radius: 0.21333333rem;
}
.publish .publish-image .publish-list ul li .line {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.publish .publish-image .publish-list ul li .line::after {
  content: "";
  position: absolute;
  width: 1.344rem;
  height: 0.128rem;
  background-color: #9f9f9f;
  border-radius: 0.064rem;
}
.publish .publish-image .publish-list ul li .line::before {
  content: "";
  position: absolute;
  height: 1.344rem;
  width: 0.128rem;
  background-color: #9f9f9f;
  border-radius: 0.064rem;
}
.publish .publish-image .tip {
  font-size: 0.59733333rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 0.768rem;
  color: #FF0000;
}
.publish .btn {
  text-align: center;
  padding-top: 0.42666667rem;
}
.publish .btn label input[type='checkbox'] {
  display: none;
}
.publish .btn label input[type='checkbox']:checked + span::before {
  background-image: url(../images/iconlist.png);
  background-repeat: no-repeat;
  background-size: 20.416rem 9.23733333rem;
  background-position: -17.408rem -3.92533333rem;
}
.publish .btn label input[type='checkbox'] + span::before {
  background-image: url(../images/iconlist.png);
  background-repeat: no-repeat;
  background-size: 20.416rem 9.23733333rem;
  background-position: -17.408rem -5.99466667rem;
}
.publish .btn label span {
  font-size: 0.512rem;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #2A2A2A;
}
.publish .btn label span::before {
  content: "";
  display: inline-block;
  width: 0.55466667rem;
  height: 0.55466667rem;
  border-radius: 50%;
  vertical-align: -0.064rem;
  margin-right: 0.08533333rem;
}
.publish .btn button {
  margin-top: 0.42666667rem;
  width: 12.01066667rem;
  height: 1.45066667rem;
  background: #336CFF;
  border-radius: 0.93866667rem;
  border: none;
  outline: none;
  font-size: 0.768rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
}
