@rem:750/16rem;

.iconlistimg(@x, @y) {
	background-image: url(../images/iconlist.png);
	background-repeat: no-repeat;
	background-size: (957 / @rem) (433 / @rem);
	background-position: (@x) (@y);
}
.publish{
    padding: (106/@rem) (24/@rem);
    .publish-image{
        min-height: (900/@rem);
	    .textarea{
            min-height: (384/@rem);
            width: 100%;
            font-size: (28/@rem);
            font-family: Microsoft YaHei;
            font-weight: 300;
            line-height: (36/@rem);
            color: #414141;
            border: none;
            text-align: justify;
            resize: none;
        }
        .publish-list{
            ul{
                padding: (20/@rem) 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                flex-flow: row wrap;
                li{
                    position: relative;
                    width: (216/@rem);
                    height: (196/@rem);
                    box-sizing: border-box;
                    border-radius: (10/@rem);
                    border: solid (2/@rem) rgba(159, 159, 159, 1);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-left: (26/@rem);
                    &:nth-of-type(3n+1){
                        margin-left: 0;
                    }
                    &:nth-of-type(n+4){
                        margin-top: (26/@rem);
                    }
                    &:nth-of-type(n+10){
                        display: none;
                    }
                    input[type='file']{
                        position: absolute;
                        z-index: 20;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        width: (216/@rem);
                        height: (196/@rem);
                        box-sizing: border-box;
                        border-radius: (10/@rem);
                    }
                    .line{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 10;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        &::after{
                            content: "";
                            position: absolute;
                            width: (63/@rem);
                            height: (6/@rem);
                            background-color: rgba(159, 159, 159, 1);
                            border-radius: (3/@rem);
                        }
                        &::before{
                            content: "";
                            position: absolute;
                            height: (63/@rem);
                            width: (6/@rem);
                            background-color: rgba(159, 159, 159, 1);
                            border-radius: (3/@rem);
                        }
                    }
                }
            }
        }
        .tip{
            font-size: (28/@rem);
            font-family: Microsoft YaHei;
            font-weight: 400;
            line-height: (36/@rem);
            color: #FF0000;
        }
    }
    .btn{
        text-align: center;
        padding-top: (20/@rem);
        label{
            input[type='checkbox']{
                display: none;
                &:checked+span::before{
                    .iconlistimg((-816 / @rem), (-184 / @rem));
                }
                &+span::before{
                    .iconlistimg((-816 / @rem), (-281 / @rem));
                }
            }
            span{
                font-size: (24/@rem);
                font-family: Microsoft YaHei;
                font-weight: 300;
                color: #2A2A2A;
                &::before{
                    content: "";
                    display: inline-block;
                    width: (26/@rem);
                    height: (26/@rem);
                    border-radius: 50%;
                    vertical-align: (-3/@rem);
                    margin-right: (4/@rem);
                }
            }
        }
        button{
            margin-top: (20/@rem);
            width: (563/@rem);
            height: (68/@rem);
            background: #336CFF;
            border-radius: (44/@rem);
            border: none;
            outline: none;
            font-size: (36/@rem);
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #FFFFFF;
        }
    }
}