.retrieve {
  height: 13.35466667rem;
  box-sizing: border-box;
  padding: 2.34666667rem 0.72533333rem 0.42666667rem;
  text-align: center;
}
.retrieve .input {
  position: relative;
  width: 100%;
  height: 1.45066667rem;
  text-align: right;
  margin-top: 1.30133333rem;
  padding: 0 0 0.21333333rem 1.96266667rem;
  background-size: 1.024rem;
  background-repeat: no-repeat;
  background-position: 0.29866667rem center;
}
.retrieve .input.user {
  background-image: url(../images/l2.png);
}
.retrieve .input.psd {
  background-image: url(../images/l1.png);
}
.retrieve .input.verify {
  background-image: url(../images/l3.png);
}
.retrieve .input input[type='text'],
.retrieve .input input[type='password'] {
  width: 12.58666667rem;
  height: 1.45066667rem;
  border: none;
  border-bottom: 0.04266667rem solid rgba(96, 96, 96, 0.5);
  font-size: 0.64rem;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #000000;
  padding: 0 0.46933333rem;
  box-sizing: border-box;
}
.retrieve .input input[type='text']:placeholder,
.retrieve .input input[type='password']:placeholder {
  color: #575757;
}
.retrieve .input .getCode {
  position: absolute;
  right: 0;
  font-size: 0.55466667rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #336cff;
  line-height: 1.45066667rem;
  padding: 0 0.27733333rem;
  background-color: transparent;
  border: none;
}
.retrieve button.submit {
  cursor: pointer;
  margin-top: 8.53333333rem;
  width: 9.152rem;
  height: 1.45066667rem;
  background: #336cff;
  border-radius: 2.13333333rem;
  border: none;
  outline: none;
  font-size: 0.85333333rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  line-height: 1;
}
