@rem:750/16rem;
.retrieve{
		height: (626 / @rem);
		box-sizing: border-box;
		padding: (110 / @rem) (34 / @rem) (20/@rem);
		text-align: center;
	
		.input {
			position: relative;
			width: 100%;
			height: (68 / @rem);
			text-align: right;
			margin-top: (61 / @rem);
			padding: 0 0 (10/@rem) (92/@rem);
			background-size: (48/@rem);
			background-repeat: no-repeat;
			background-position: (14/@rem) center;
	
			&.user {
				background-image: url(../images/l2.png);
			}
	
			&.psd {
				background-image: url(../images/l1.png);
			}
	
			&.verify {
				background-image: url(../images/l3.png);
			}
	
			input[type='text'],
			input[type='password'] {
				width: (590 / @rem);
				height: (68 / @rem);
				border: none;
				border-bottom: (2 / @rem) solid rgba(96, 96, 96, 0.5);
				font-size: (30 / @rem);
				font-family: Microsoft YaHei;
				font-weight: 300;
				color: #000000;
				padding: 0 (22 / @rem);
				box-sizing: border-box;
	
				&:placeholder {
					color: #575757;
				}
			}
	
			.getCode {
				position: absolute;
				right: 0;
				font-size: (26 / @rem);
				font-family: Microsoft YaHei;
				font-weight: 400;
				color: #336cff;
				line-height: (68 / @rem);
				padding: 0 (13 / @rem);
				background-color: transparent;
				border: none;
			}
		}
	
		button.submit {
			cursor: pointer;
			margin-top: (400 / @rem);
			width: (429 / @rem);
			height: (68 / @rem);
			background: #336cff;
			border-radius: (100 / @rem);
			border: none;
			outline: none;
			font-size: (40 / @rem);
			font-family: Microsoft YaHei;
			font-weight: 400;
			color: #ffffff;
			line-height: 1;
		}
}