@rem:750/16rem;

.iconlistimg(@x, @y) {
	background-image: url(../images/iconlist.png);
	background-repeat: no-repeat;
	background-size: (957 / @rem) (433 / @rem);
	background-position: (@x) (@y);
}

.ysp-tool {
    display: flex;
    justify-content: space-between;
    height: (66 / @rem);
    line-height: (66 / @rem);
    .left {
        a {
            padding-right: (40 / @rem);
        }
    }
    a {
        font-size: (24 / @rem);
        font-family: Microsoft YaHei;
        font-weight: 300;
        color: #1b1b1c;
        i {
            display: inline-block;
            vertical-align: (-16/@rem);
            right: (16 / @rem);
            width: (50 / @rem);
            height: (40 / @rem);
            margin-right: (-20 / @rem);
            
        }
        &.nocollection{
            i{
                .iconlistimg((-287 / @rem), (-286 / @rem));
            }
        }
        &.collection{
            i{
                .iconlistimg((-195 / @rem), (-286 / @rem));
            }
        }
    }
}