<div class="concat_school">
    <div class="box">
        <h3><span>免费联系KSS深圳国王学校</span></h3>
        <p class="tip1">每天限<span>50</span>个名额</p>
        <form class="layui-form" action="/test" method="post">
            <div class="input">
                <input type="text" name="name" placeholder="请输入学生姓名" lay-verify="concat_name">
            </div>
            <div class="input">
                <select name="grade" lay-verify="concat_grade">
                    <option value="">孩子或学生在读年级</option>
                    <option value="一年级">一年级</option>
                    <option value="二年级">二年级</option>
                    <option value="三年级">三年级</option>
                    <option value="四年级">四年级</option>
                    <option value="五年级">五年级</option>
                    <option value="六年级">六年级</option>
                    <option value="七年级">七年级</option>
                    <option value="八年级">八年级</option>
                    <option value="九年级">九年级</option>
                    <option value="十年级">十年级</option>
                    <option value="十一年级">十一年级</option>
                    <option value="十二年级">十二年级</option>
                    <option value="大一">大一</option>
                    <option value="大二">大二</option>
                    <option value="大三">大三</option>
                    <option value="大四">大四</option>
                    <option value="已毕业">已毕业</option>
                </select>
            </div>
            <div class="input-wrap">
                <div class="input">
                    <select name="province" id="concat_provice" lay-verify="concat_provice" lay-filter="concat_provice">
                        <option value="">省份</option>
                    </select>
                </div>
                <div class="input">
                    <select name="city" id="concat_city" lay-verify="concat_city" lay-filter="concat_city">
                        <option value="">城市</option>
                    </select>
                </div>
            </div>
            <div class="input">
                <input type="text" name="mobile" placeholder="输入手机号，联系方式将短信发给您" lay-verify="concat_mobile">
            </div>
            <div class="btn">
                <button lay-submit="" lay-filter="concat_submit"><i></i>免费提交</button>
                <a hre1f=""><span><i></i></span>联系学校</a>
            </div>
            <p class="tip2">提交成功后可以直接一键联系学校哦!</p>
    </div>
    </form>
</div>
</div>