@import "./reset.less";
@rem:750/16rem;
html{
    font-family: Source Han Sans CN-Medium, Source Han Sans CN;
}
body{
    width: 100%;
    max-width: 750px;
}
header{
    height: (112/@rem);
    width: 100%;
    padding: 0 (24/@rem);
    padding-top: (20/@rem);
    box-sizing: border-box;
    img{
        height: (72/@rem);
    }
}












.footernav .top {
    padding: 0 1.00266667rem;
    height: 1.49333333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.49333333rem;
    background-color: #2B5887;
    color: #ffffff;
    margin-bottom: -0.04266667rem;
  }
  .footernav .top .tel {
    position: relative;
    font-size: 0.512rem;
    padding-left: 0.192rem;
  }
  .footernav .top .tel::before {
    position: absolute;
    left: -0.384rem;
    top: 0.46933333rem;
    content: "";
    width: 0.42666667rem;
    height: 0.512rem;
    background-image: url(../images/tel.png);
    background-size: 0.42666667rem 0.512rem;
  }
  .footernav .top .tel a {
    font-size: 0.59733333rem;
    color: #ffffff;
    font-weight: bold;
    vertical-align: -0.04266667rem;
  }
  .footernav .top .time {
    font-size: 0.46933333rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .footernav .bottom {
    background-color: #264F7A;
    height: 3.05066667rem;
    font-size: 0;
  }
  .footernav .bottom .list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.384rem 0;
  }
  .footernav .bottom .list a {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 0.512rem;
    line-height: 0.55466667rem;
    border-right: solid 0.02133333rem rgba(255, 255, 255, 0.8);
    padding-top: 0.04266667rem;
    color: #ffffff;
  }
  .footernav .bottom .list a:last-of-type {
    border-right: none;
  }
  .footernav .bottom p {
    text-align: center;
    font-size: 0.46933333rem;
    color: #ffffff;
    line-height: 0.68266667rem;
    color: rgba(255, 255, 255, 0.8);
  }
  .footernav .bottom p a {
    font-size: 0.42666667rem;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
  }