<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>选校专家网_国际学校_国际学校大全</title>
    <link rel="shortcut icon" type="image/x-icon" href="//www.ieduglobe.com/statics/expert/images/favicon.ico">
    <meta name="keywords" content="国内国际学校,国际学校大全,国际学校排名">
    <meta name="description" content="选校专家网汇集国内国际学校大全，包括国际高中、国际初中、国际小学、国际幼儿园等国际学校排名和国际学校一览表,为家长提供国际学校选校和申请服务。">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Content-Security-Policy" content="form-action 'self' *.ieduglobe.com;">
    <link rel="stylesheet" href="//m.ieduglobe.com/statics/css/styles.css?t=1412">
    <link rel="stylesheet" href="//www.ieduchina.com/statics/css/service.css?t=1412">
    <link rel="stylesheet" href="//m.ieduglobe.com/statics/m/css/index.css?t=1653978737">
    <link href="https://m.ieduglobe.com/statics/m/js/../css/layer.css?2.0" type="text/css" rel="styleSheet" id="layermcss">
</head>
<body>
<header class="header" style="height:auto;">
    <div id="xx_wap_ad_top"></div>
    <a class="logo fl" href="/"><img src="//www.ieduchina.com/statics/expert_new/images/xx.png?t=1412" alt="选校专家网" style="width:auto;"></a>
    <a class="fr" style="color:#1C67AF;margin-right:.3rem" href="tel:400-860-9889" data-agl-cvt="2">400-860-9889</a>
</header>
<div class="library-search">
    <span class="library-search-icon"></span>
    <input id="librarySearch" type="text" placeholder="请输入您想了解的学校" value="">
</div>

<div id="wrapper">
    <div id="content">
        <div class="search_nav">
            <ul class="clearfix">
                <li class="fr">
                    <div>城市<span class="up-down-span"></span></div>
                </li>
                <li>
                    <div>区域<span class="up-down-span"></span></div>
                </li>
                <li>
                    <div>国际学校</div>
                </li>
                <li>
                    <div>招生年级<span class="up-down-span"></span></div>
                </li>
                <li>
                    <div>课程体系<span class="up-down-span"></span></div>
                </li>
            </ul>
        </div>
        <div class="list_container">
            <div class="fl_list">
                <div class="bgdee"></div>
                <dl class="city_list_dl">
                    <dt>热门城市</dt>
                    <dd>
                        <ul class="city_list_fl clearfix">
                            <li><a href="/list/p4-c0-a0-s0-t0/">北京</a></li><li><a href="/list/p5-c0-a0-s0-t0/">上海</a></li><li><a href="/list/p1-c3-a0-s0-t0/">广州</a></li><li><a href="/list/p1-c2-a0-s0-t0/">深圳</a></li><li><a href="/list/p90-c0-a0-s0-t0/">中国香港</a></li>                        <li></li><li></li><li></li></ul>
                    </dd>
                </dl>
                <div class="bgdee"></div>
                <!--按省份选择城市-->
                <dl class="city_list_dl city_list_dl2">
                    <dt>按省份选择城市</dt>
                    <dd>
                        <ul class="province_list">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <li><a href="javascript:;">广东</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p1-c0-a0-s0-t0/">广东</a></li>
                                    <li><a href="/list/p1-c2-a0-s0-t0/">深圳</a></li><li><a href="/list/p1-c3-a0-s0-t0/">广州</a></li><li><a href="/list/p1-c46-a0-s0-t0/">珠海</a></li><li><a href="/list/p1-c47-a0-s0-t0/">中山</a></li><li><a href="/list/p1-c51-a0-s0-t0/">湛江</a></li><li><a href="/list/p1-c54-a0-s0-t0/">佛山</a></li><li><a href="/list/p1-c55-a0-s0-t0/">江门</a></li><li><a href="/list/p1-c11001-a0-s0-t0/">东莞</a></li><li><a href="/list/p1-c11002-a0-s0-t0/">惠州</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">江苏</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p16-c0-a0-s0-t0/">江苏</a></li>
                                    <li><a href="/list/p16-c17-a0-s0-t0/">南京</a></li><li><a href="/list/p16-c126-a0-s0-t0/">苏州</a></li><li><a href="/list/p16-c127-a0-s0-t0/">扬州</a></li><li><a href="/list/p16-c128-a0-s0-t0/">无锡</a></li><li><a href="/list/p16-c129-a0-s0-t0/">常州</a></li><li><a href="/list/p16-c131-a0-s0-t0/">镇江</a></li><li><a href="/list/p16-c132-a0-s0-t0/">宿迁</a></li><li><a href="/list/p16-c133-a0-s0-t0/">徐州</a></li><li><a href="/list/p16-c134-a0-s0-t0/">连云港</a></li><li><a href="/list/p16-c137-a0-s0-t0/">淮安</a></li><li><a href="/list/p16-c138-a0-s0-t0/">南通</a></li><li><a href="/list/p16-c1602-a0-s0-t0/">昆山</a></li>                                <li></li><li></li><li></li></ul>
                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <li><a href="javascript:;">浙江</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p8-c0-a0-s0-t0/">浙江</a></li>
                                    <li><a href="/list/p8-c9-a0-s0-t0/">杭州</a></li><li><a href="/list/p8-c79-a0-s0-t0/">宁波</a></li><li><a href="/list/p8-c80-a0-s0-t0/">温州</a></li><li><a href="/list/p8-c81-a0-s0-t0/">绍兴</a></li><li><a href="/list/p8-c83-a0-s0-t0/">嘉兴</a></li><li><a href="/list/p8-c84-a0-s0-t0/">金华</a></li><li><a href="/list/p8-c86-a0-s0-t0/">舟山</a></li>                                </ul>
                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">四川</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p10-c0-a0-s0-t0/">四川</a></li>
                                    <li><a href="/list/p10-c11-a0-s0-t0/">成都</a></li><li><a href="/list/p10-c1001-a0-s0-t0/">绵阳</a></li><li><a href="/list/p10-c1004-a0-s0-t0/">泸州</a></li>                                </ul>
                            </li>
                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">安徽</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p26-c0-a0-s0-t0/">安徽</a></li>
                                    <li><a href="/list/p26-c27-a0-s0-t0/">合肥</a></li><li><a href="/list/p26-c63-a0-s0-t0/">芜湖</a></li><li><a href="/list/p26-c64-a0-s0-t0/">蚌埠</a></li>                                </ul>
                            </li>
                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">福建</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p30-c0-a0-s0-t0/">福建</a></li>
                                    <li><a href="/list/p30-c31-a0-s0-t0/">福州</a></li><li><a href="/list/p30-c57-a0-s0-t0/">厦门</a></li>                                <li></li></ul>
                            </li>
                                                                                                                                                                                                                                <li><a href="javascript:;">湖北</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p12-c0-a0-s0-t0/">湖北</a></li>
                                    <li><a href="/list/p12-c13-a0-s0-t0/">武汉</a></li><li><a href="/list/p12-c178-a0-s0-t0/">十堰</a></li><li><a href="/list/p12-c179-a0-s0-t0/">荆州</a></li><li><a href="/list/p12-c180-a0-s0-t0/">宜昌</a></li><li><a href="/list/p12-c181-a0-s0-t0/">荆门</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">湖南</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p22-c0-a0-s0-t0/">湖南</a></li>
                                    <li><a href="/list/p22-c23-a0-s0-t0/">长沙</a></li><li><a href="/list/p22-c880-a0-s0-t0/">株洲</a></li><li><a href="/list/p22-c890-a0-s0-t0/">湘潭</a></li>                                </ul>
                            </li>
                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">陕西</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p14-c0-a0-s0-t0/">陕西</a></li>
                                    <li><a href="/list/p14-c15-a0-s0-t0/">西安</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                        <li><a href="javascript:;">辽宁</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p18-c0-a0-s0-t0/">辽宁</a></li>
                                    <li><a href="/list/p18-c19-a0-s0-t0/">沈阳</a></li><li><a href="/list/p18-c91-a0-s0-t0/">大连</a></li><li><a href="/list/p18-c93-a0-s0-t0/">丹东</a></li><li><a href="/list/p18-c98-a0-s0-t0/">鞍山</a></li>                                <li></li><li></li><li></li></ul>
                            </li>
                                                                                                                                                                                                                                                                                                                                                <li><a href="javascript:;">山东</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p20-c0-a0-s0-t0/">山东</a></li>
                                    <li><a href="/list/p20-c21-a0-s0-t0/">济南</a></li><li><a href="/list/p20-c2002-a0-s0-t0/">潍坊</a></li><li><a href="/list/p20-c2006-a0-s0-t0/">青岛</a></li><li><a href="/list/p20-c2007-a0-s0-t0/">烟台</a></li><li><a href="/list/p20-c2013-a0-s0-t0/">临沂</a></li><li><a href="/list/p20-c2016-a0-s0-t0/">威海</a></li>                                <li></li></ul>
                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                <li><a href="javascript:;">河南</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p24-c0-a0-s0-t0/">河南</a></li>
                                    <li><a href="/list/p24-c25-a0-s0-t0/">郑州</a></li><li><a href="/list/p24-c61-a0-s0-t0/">洛阳</a></li><li><a href="/list/p24-c2401-a0-s0-t0/">安阳</a></li>                                </ul>
                            </li>
                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">江西</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p28-c0-a0-s0-t0/">江西</a></li>
                                    <li><a href="/list/p28-c29-a0-s0-t0/">南昌</a></li><li><a href="/list/p28-c2802-a0-s0-t0/">九江</a></li><li><a href="/list/p28-c2805-a0-s0-t0/">赣州</a></li><li><a href="/list/p28-c2807-a0-s0-t0/">上饶</a></li><li><a href="/list/p28-c2808-a0-s0-t0/">吉安</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">河北</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p32-c0-a0-s0-t0/">河北</a></li>
                                    <li><a href="/list/p32-c33-a0-s0-t0/">石家庄</a></li><li><a href="/list/p32-c70-a0-s0-t0/">唐山</a></li><li><a href="/list/p32-c71-a0-s0-t0/">秦皇岛</a></li><li><a href="/list/p32-c72-a0-s0-t0/">邯郸</a></li><li><a href="/list/p32-c799-a0-s0-t0/">衡水</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">云南</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p34-c0-a0-s0-t0/">云南</a></li>
                                    <li><a href="/list/p34-c35-a0-s0-t0/">昆明</a></li><li><a href="/list/p34-c3401-a0-s0-t0/">曲靖</a></li>                                <li></li></ul>
                            </li>
                                                                                                                                                                                                                                <li><a href="javascript:;">山西</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p36-c0-a0-s0-t0/">山西</a></li>
                                    <li><a href="/list/p36-c37-a0-s0-t0/">太原</a></li><li><a href="/list/p36-c3605-a0-s0-t0/">晋中</a></li>                                <li></li></ul>
                            </li>
                                                                                                                                                                                                                                <li><a href="javascript:;">吉林</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p38-c0-a0-s0-t0/">吉林</a></li>
                                    <li><a href="/list/p38-c39-a0-s0-t0/">长春</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                        <li><a href="javascript:;">黑龙江</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p40-c0-a0-s0-t0/">黑龙江</a></li>
                                    <li><a href="/list/p40-c41-a0-s0-t0/">哈尔滨</a></li><li><a href="/list/p40-c4003-a0-s0-t0/">牡丹江</a></li><li><a href="/list/p40-c4004-a0-s0-t0/">佳木斯</a></li>                                </ul>
                            </li>
                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">甘肃</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p42-c0-a0-s0-t0/">甘肃</a></li>
                                    <li><a href="/list/p42-c43-a0-s0-t0/">兰州</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                        <li><a href="javascript:;">贵州</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p44-c0-a0-s0-t0/">贵州</a></li>
                                    <li><a href="/list/p44-c45-a0-s0-t0/">贵阳</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                        <li><a href="javascript:;">青海</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p147-c0-a0-s0-t0/">青海</a></li>
                                    <li><a href="/list/p147-c148-a0-s0-t0/">西宁</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                        <li><a href="javascript:;">广西</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p162-c0-a0-s0-t0/">广西</a></li>
                                    <li><a href="/list/p162-c163-a0-s0-t0/">南宁</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                        <li><a href="javascript:;">内蒙古</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p103-c0-a0-s0-t0/">内蒙古</a></li>
                                    <li><a href="/list/p103-c104-a0-s0-t0/">呼和浩特</a></li><li><a href="/list/p103-c106-a0-s0-t0/">鄂尔多斯</a></li>                                <li></li></ul>
                            </li>
                                                                                                                                                                                                                                <li><a href="javascript:;">新疆</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p116-c0-a0-s0-t0/">新疆</a></li>
                                    <li><a href="/list/p116-c117-a0-s0-t0/">乌鲁木齐</a></li>                                <li></li><li></li></ul>
                            </li>
                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">台湾</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p139-c0-a0-s0-t0/">台湾</a></li>
                                    <li><a href="/list/p139-c140-a0-s0-t0/">台北</a></li><li><a href="/list/p139-c141-a0-s0-t0/">高雄</a></li><li><a href="/list/p139-c144-a0-s0-t0/">台中</a></li>                                </ul>
                            </li>
                                                                                                                                                                                                                                                                                        <li><a href="javascript:;">海南</a>
                                <ul class="city_list_fl clearfix">
                                    <li><a href="//m.ieduglobe.com/list/p5000-c0-a0-s0-t0/">海南</a></li>
                                    <li><a href="/list/p5000-c5001-a0-s0-t0/">海口</a></li><li><a href="/list/p5000-c5003-a0-s0-t0/">三亚</a></li>                                <li></li></ul>
                            </li>
                                                                                                                                                                                                </ul>
                    </dd>
                </dl>
                <h5>收起</h5>
            </div>
            <div class="fl_list">
                <ul>
                    <li>区域</li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t0/">所有</a></li>
                                                        </ul>
                <h5>收起</h5>
            </div>
            <div class="fl_list"></div>
            <div class="fl_list">
                <ul>
                    <li>招生年级</li>
                    <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t0/">不限</a></li>
                    <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s6-t0/">国际托育园</a></li>
                    <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s1-t0/">国际幼儿园</a></li>
                    <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s2-t0/">国际小学</a></li>
                    <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s3-t0/">国际初中</a></li>
                    <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s4-t0/">国际高中</a></li>
                    <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s5-t0/">国际大学</a></li>
                </ul>
                <h5>收起</h5>
            </div>
            <div class="fl_list">
                <ul>
                    <li>课程体系</li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t0/">不限</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t101/">IB课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t102/">AP课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t103/">Alevel课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t104/">美国课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t105/">英国课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t106/">加拿大课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t107/">澳大利亚课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t108/">双语国际课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t110/">新加坡课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t111/">IGCSE课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t112/">香港DSE课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t113/">国际艺术课程</a></li>
                                        <li><a href="//m.ieduglobe.com/list/p0-c0-a0-s0-t109/">其他课程</a></li>
                                    </ul>
                <h5>收起</h5>
            </div>
        </div>
        <div class="bgdee"></div>
        <!-- 首页才有 first 这个类名 -->
        <div class="univer_content ">
            <input type="hidden" name="word" value="" id="pinying">
            <div class="most-popular"></div>
            <ul class="sem-school-list" id="sem-school-list">
                                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/rdfzicc/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202110/1633686616.jpg);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>北京-海淀区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">人大附中中外合作办学项目</h2>
                                                        <p class="bq">
                                <span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学、面试</p>                            <p><span>课程体系：</span>IB课程、AP课程、Alevel课程</p>                            <p><span>每年学费：</span>¥ 10万-12万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-822-1988"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/sdsz/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202012/1607653957.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>北京-西城区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">北京师范大学附属实验中学国际部</h2>
                                                        <p class="bq">
                                <span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>综合考核</p>                            <p><span>课程体系：</span>AP课程、美国课程</p>                            <p><span>每年学费：</span>¥ 11万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-822-1988"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/hlgjxx/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/201909/1568097236.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>中国香港</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">香港哈罗国际学校</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>综合考核</p>                            <p><span>课程体系：</span>Alevel课程、英国课程、IGCSE课程</p>                            <p><span>每年学费：</span>¥ 14-21万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/bwfxsyxx/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202203/1646723639.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>北京-朝阳区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">北京市朝阳区北外同文外国语学校</h2>
                                                        <p class="bq">
                                <span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>笔试、面试</p>                            <p><span>课程体系：</span>Alevel课程、美国课程、加拿大课程、澳大利亚课程</p>                            <p><span>每年学费：</span>¥ 12.8万~18万/年</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-822-1988"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/hfgjb/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/201808/1533631573.jpg);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>广东-广州-天河区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">华南师范大学附属中学国际部</h2>
                                                        <p class="bq">
                                <span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学</p>                            <p><span>课程体系：</span>AP课程、美国课程</p>                            <p><span>每年学费：</span>¥ 17万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/dulwich-bj/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/201706/1497265973.jpg);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>北京-顺义区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">北京德威英国国际学校</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学、面试</p>                            <p><span>课程体系：</span>IB课程、英国课程、IGCSE课程</p>                            <p><span>每年学费：</span>¥ 22-32万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-822-1988"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/ykpao/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202004/1586423230.jpg);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>上海-长宁区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">上海包玉刚实验学校</h2>
                                                        <p class="bq">
                                <span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学</p>                            <p><span>课程体系：</span>IB课程、双语国际课程、IGCSE课程</p>                            <p><span>每年学费：</span>¥ 16-21万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/cwacs/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202103/1616032177.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>江苏-苏州</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">CWA世华学校</h2>
                                                        <p class="bq">
                                <span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>物理数学,英语,中文写作</p>                            <p><span>课程体系：</span>IB课程</p>                            <p><span>每年学费：</span>¥ 10万~20万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/szbasissy/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202012/1608019741.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>广东-深圳-福田区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">深圳贝赛思双语学校</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学、面试</p>                            <p><span>课程体系：</span>AP课程、美国课程、双语国际课程</p>                            <p><span>每年学费：</span>¥ 17-23万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/gdsyzxaleve/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202112/1639626020.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>广东-广州-荔湾区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">广东实验中学A-LEVEL国际课程</h2>
                                                        <p class="bq">
                                <span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>数学 英语</p>                            <p><span>课程体系：</span>Alevel课程、IGCSE课程</p>                            <p><span>每年学费：</span>¥ 咨询招生老师</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/bndsedu/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202012/1607572846.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>北京-海淀区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">北京十一学校国际部</h2>
                                                        <p class="bq">
                                <span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>综合考核</p>                            <p><span>课程体系：</span>IB课程、AP课程、Alevel课程</p>                            <p><span>每年学费：</span>¥ 10-12万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-822-1988"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/szbssgjxx/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/201903/1553239896.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>广东-深圳-南山区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">深圳贝赛思国际学校</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学、面试</p>                            <p><span>课程体系：</span>AP课程、美国课程</p>                            <p><span>每年学费：</span>¥ 18-25万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/wellingtoncollegesh/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202010/1603273809.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>上海-浦东新区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">上海惠灵顿外籍人员子女学校</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学、面试</p>                            <p><span>课程体系：</span>Alevel课程、英国课程、IGCSE课程</p>                            <p><span>每年学费：</span>¥ 25-33万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/aisgz/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202010/1603103305.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>广东-广州-越秀区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">广州美国人国际学校</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>综合考核</p>                            <p><span>课程体系：</span>IB课程、美国课程</p>                            <p><span>每年学费：</span>¥ 17-25万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/dulwichpudong/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202010/1602749883.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>上海-浦东新区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">上海德威外籍人员子女学校（浦东）</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学、面试</p>                            <p><span>课程体系：</span>IB课程、英国课程、IGCSE课程</p>                            <p><span>每年学费：</span>¥ 22-33万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/dulwichpuxi/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202010/1602744473.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>上海-闵行区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">上海德威外籍人员子女学校（浦西）</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学、面试</p>                            <p><span>课程体系：</span>IB课程、英国课程、IGCSE课程</p>                            <p><span>每年学费：</span>¥ 22-33万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/gzbss/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202006/1592374678.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>广东-广州-黄埔区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">广州贝赛思国际学校</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>MAP、笔试、面试</p>                            <p><span>课程体系：</span>AP课程、美国课程</p>                            <p><span>每年学费：</span>¥ 19-25万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/cis/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/201909/1568270352.jpg);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>中国香港</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">香港汉基国际学校</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>中文、英文、数学、面试</p>                            <p><span>课程体系：</span>IB课程</p>                            <p><span>每年学费：</span>¥ 16-26万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/shgtzycx/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/202004/1586402970.png);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>不限</span></p>
                                <p>上海-浦东新区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">上海高藤致远创新学校</h2>
                                                        <p class="bq">
                                <span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>数学、英语、面试</p>                            <p><span>课程体系：</span>AP课程、Alevel课程</p>                            <p><span>每年学费：</span>¥ 16.8万/年</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                <li>
                    <div class="list">
                        <a href="//m.ieduglobe.com/xuexiao/SWIS/">
                        <div class="top">
                            <div class="schoollogo" style="background-image: url(//www.ieduchina.com/uploadfile/college/201902/1550648054.jpg);">
                            </div>
                            <div class="yq">
                                <p>身份要求：<span>港澳台、外籍</span></p>
                                <p>广东-深圳-南山区</p>
                            </div>
                        </div>
                        <div class="center">
                            <h2 class="school-name">深圳外国语学校国际部</h2>
                                                        <p class="bq">
                                <span class="cy">幼儿园</span><span class="cx">小学</span><span class="cc">初中</span><span class="cg">高中</span>                            </p>
                                                        <p><span>入学要求：</span>英语、数学、面试</p>                            <p><span>课程体系：</span>IB课程</p>                            <p><span>每年学费：</span>¥ 12-22万</p>                        </div>
                        </a>
                        <div class="bottom">
                            <a href="javascript:;">
                                <button class="showtk sq">预约看校</button>
                            </a>
                                                        <a href="tel:400-860-9889"><button class="yy">招生咨询</button></a>
                                                    </div>
                    </div>
                </li>
                                
            </ul>
            <ul id="school_list">
            </ul>
        </div>
    </div>
</div>
<footer class="library-footer library-footer-n">
    <p>粤ICP备2021064228号 <img src="//www.ieduchina.com/statics/images/police.png?t=1412"> 粤公网安备 990000834498号</p>
    <p>深圳市爱读教育咨询有限公司 版权所有</p>
    <p>深圳市南山区招商街道水湾社区太子路111号水湾壹玖柒玖广场(二期)201</p>
</footer>
<div class="footer-tools">
    <a rel="noopener noreferrer" data-agl-cvt="1" href="https://p.qiao.baidu.com/cps/chat?siteId=17703853&amp;userId=33651932&amp;siteToken=342a41d4d84e576ae0ac644adaa39586">在线咨询</a>
    <a href="tel:400-860-9889" data-agl-cvt="2">电话咨询</a>
    <a href="//m.ieduglobe.com/ceping/">入学测评</a>
</div>

<div id="asd" class="mask" style="display: none; opacity: 0;">
    <div class="biaodan">
            <span id="closebm" class="close">
            </span>
        <h2 class="title">预约看校</h2>
        <form>
            <input type="hidden" mark="mark" value="选校专家semWAP版">
            <div class="xh">
                <label>
                    <span><a>*</a>姓名</span>
                    <input class="username" nullmsg="请输入姓名" name="name" type="text" placeholder="请输入姓名">
                </label>
            </div>

            <div class="xh">
                <label>
                    <span><a>*</a>年级</span>
                    <select class="black" name="grade" nullmsg="请选择在读年级" style="color: rgb(102, 102, 102);">
                        <option value="" disabled="" selected="" style="display: none; color: rgb(0, 0, 0);">请选择在读年级</option>
                        <option value="幼儿" style="color: rgb(0, 0, 0);">幼儿</option>
                        <option value="一年级" style="color: rgb(0, 0, 0);">一年级</option>
                        <option value="二年级" style="color: rgb(0, 0, 0);">二年级</option>
                        <option value="三年级" style="color: rgb(0, 0, 0);">三年级</option>
                        <option value="四年级" style="color: rgb(0, 0, 0);">四年级</option>
                        <option value="五年级" style="color: rgb(0, 0, 0);">五年级</option>
                        <option value="六年级" style="color: rgb(0, 0, 0);">六年级</option>
                        <option value="初一" style="color: rgb(0, 0, 0);">初一</option>
                        <option value="初二" style="color: rgb(0, 0, 0);">初二</option>
                        <option value="初三" style="color: rgb(0, 0, 0);">初三</option>
                        <option value="高一" style="color: rgb(0, 0, 0);">高一</option>
                        <option value="高二" style="color: rgb(0, 0, 0);">高二</option>
                        <option value="高三" style="color: rgb(0, 0, 0);">高三</option>
                        <option value="其他" style="color: rgb(0, 0, 0);">其他</option>
                    </select>
                </label>
            </div>
            <div class="xh">
                <label>
                    <span><a></a>城市</span>
                    <div class="address msgnull">请选择在读城市</div>
                    <input class="addressinput" type="hidden" mark="在读城市" value="">
                </label>
            </div>
            <div class="xh">
                <label>
                    <span><a>*</a>电话</span>
                    <input type="text" name="mobile" nullmsg="请输入家长电话" errormsg="请输入正确的家长电话" datatype="m" class="username" placeholder="请输入家长电话">
                </label>
            </div>
            <p class="error-tips"></p>
            <input type="hidden" name="want_school" id="want_school" value="人大附中中外合作办学项目">
            <input type="hidden" name="source" value="选校专家semWAP版">
            <button errormsg="提交失败，请稍后再试" successmsg="提交成功" class="save tk_sibmit" data-agl-cvt="5">提交</button>
        </form>
    </div>
</div>
<div class="preWrap">
    <div class="list">
        <div class="ulWrap prew">
            <ul class="pre"></ul>
        </div>
        <div class="ulWrap cityw">
            <ul class="city"></ul>
        </div>
    </div>
</div>
<input type="hidden" id="ajaxUrl" value="/index.php?m=iedum&amp;c=index&amp;a=ajaxNext&amp;searchkey=&amp;province=0&amp;city=0&amp;area=0&amp;section=0&amp;tx=0">
<style type="text/css">
            .agl-hover {
                outline: 2px solid rgba(244,67,54,0.99) !important;
                background-color: rgba(244,67,54,0.2) !important;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8) !important;
            }
            .agl-highlight-current {
                outline: 2px solid rgba(255,87,34,0.99) !important;
                background-color: rgba(255,87,34,0.4) !important;
            }
            .agl-highlight-similar {
                outline: 2px dashed rgba(255,87,34,0.99) !important;
                background-color: rgba(255,87,34,0.4) !important;
            }
            .agl-highlight-group {
                outline: 4px double rgba(255,87,34,0.99) !important;
                background-color: rgba(255,87,34,0.4) !important;
            }
            .agl-cover-current {
                
                position: absolute !important;
                top: 0;
                left: 0;
                z-index: 9 !important;
        
                outline: 2px solid rgba(33,33,33,0.99) !important;
                background-color: rgba(33,33,33,0.6) !important;
            }
            .agl-cover-similar {
                
                position: absolute !important;
                top: 0;
                left: 0;
                z-index: 9 !important;
        
                outline: 2px dashed rgba(33,33,33,0.99) !important;
                background-color: rgba(33,33,33,0.6) !important;
            }
            .agl-cover-group {
                
                position: absolute !important;
                top: 0;
                left: 0;
                z-index: 9 !important;
        
                outline: 4px double rgba(33,33,33,0.99) !important;
                background-color: rgba(33,33,33,0.6) !important;
            }
            .agl-cover-focus {
                outline: 3px solid rgba(255,165,0,0.99) !important;
                background-color: rgba(255,165,0,0.4) !important;
            }
        </style><script charset="utf-8" src="https://goutong.baidu.com/site/787/de4c768083d1ce0dad035f6281f841c3/b.js?siteId=16935538"></script><script src="https://hm.baidu.com/hm.js?de4c768083d1ce0dad035f6281f841c3"></script><script type="text/javascript" async="" src="https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD"></script><script src="//m.ieduglobe.com/statics/m/js/jquery-1.8.3.min.js?t=1412"></script>
<script src="//m.ieduglobe.com/statics/m/js/layer.js?t=1412"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
    var ShareLink=window.location.href; //默认分享链接

    var ShareImgUrl = location.origin+"/statics/share.jpg"; // 分享图标
    var ShareTitle = document.title;//分享标题
    var ShareDesc = document.title;//分享描述
    var ajaxurl = "/ajax/getweixinsign/?t=1653978738";
    var url = location.href.split('#')[0];

    var weixinSign='';
    $.ajax({
        type : "post",
        url : ajaxurl,
        data : {url:url},
        cache : false,
        async : false,
        dataType : 'json',
        success : function(data) {
            weixinSign = data;
        }
    });
    //console.log(weixinSign);

    // 微信配置
    wx.config({
        debug : false,
        appId : weixinSign.appId,
        timestamp : weixinSign.timestamp,
        nonceStr : weixinSign.nonceStr,
        signature : weixinSign.signature,
        jsApiList : [ 'onMenuShareTimeline', 'onMenuShareAppMessage',
            'onMenuShareQQ', 'onMenuShareQZone', 'hideOptionMenu',
            'onMenuShareWeibo' ]
        // 功能列表，我们要使用JS-SDK的什么功能
    });

    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在 页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready 函数中。
    wx.ready(function() {
        console.log("success");
        var shareData = {
            title: ShareTitle,
            desc: ShareDesc,
            link: ShareLink,
            imgUrl: ShareImgUrl
        };

        // 获取"分享到朋友圈"按钮点击状态及自定义分享内容接口
        wx.onMenuShareTimeline(shareData);

        // 获取"分享给朋友"按钮点击状态及自定义分享内容接口
        wx.onMenuShareAppMessage(shareData);
        // 分享到QQ
        wx.onMenuShareQQ(shareData);
        // 分享到QQ空间
        wx.onMenuShareQZone(shareData);
        //分享到腾讯微博
        wx.onMenuShareWeibo(shareData);

    });
    wx.error(function(res) {
        console.log(res);
    });
</script>
</body></html>