<!DOCTYPE html>
<html lang="zh">
<%= require('@layouts/head.ejs')() %>
<body>
    <header class="headernew">
        <a class="back"></a>
        <h2>发布微头条</h2>
    </header>
    <section class="publish">
		<form>
        <div class="publish-image">
			<textarea class="textarea" name="content" id="" cols="30" rows="10" placeholder="记录美好的心情，和大家一起分享吧~"></textarea>
			<div class="publish-list">
				<ul>
					<!-- <li style="background-image: url(https://picsum.photos/id/444/216/196);"></li> -->
					<li>
						<input type="file" id="photo" name="photo">
						<div class="line"></div>
					</li>
				</ul>
			</div>
			<p class="tip">温馨提醒：可发布视频或者图片（最多9张）</p>
		</div>
		<div class="btn">
			<label>
				<input type="checkbox" name="cgx">
				<span>保存到草稿箱</span>
			</label>
			<button class="submit">发布</button>
		</div>
	</form>
    </section>
<%= require('@layouts/footer.ejs')({footer:false})%>
</body>

</html>