<header class="headernav">
    <div id="wap_ad_top"></div>
    <div class="header">
        <div class="left" id="menu">
            <img src="//m.ieduchina.com/statics/users/images/menu.png" alt="">
        </div>
        <h1>
           <a href="//m.ieduchina.com"><img src="//m.ieduchina.com/statics/w/img/logol.png" alt="国际教育网"></a>
        </h1>
        <a class="search" href="//m.ieduchina.com/search/">
            <img src="//m.ieduchina.com/statics/users/images/search.png" alt="">
        </a>
        <a class="right" href="//m.ieduchina.com/login.html" id="adLogin">
            <img src="//m.ieduchina.com/statics/users/images/nouser.png" alt="">
        </a>
    </div>
    <div class="topmenu">
        <ul>
            <li>
                <a href="//m.ieduchina.com">首页</a>
            </li>
            <li class="active">
                <a href="//schoollist.m.ieduchina.com/">学校</a>
            </li>
            <li>
                <a href="//m.ieduchina.com/parents/">亲子</a>
            </li>
            <li>
                <a href="//m.ieduchina.com/topic/ruxue/">升学</a>
            </li>
            <li>
                <a href="//m.ieduchina.com/topic/abroad/">留学</a>
            </li>
            <li>
                <a href="//m.ieduchina.com/#ziyuan">资源</a>
            </li>
        </ul>
    </div>
    <div class="index-menu-wrap">
        <div class="index-menu">
            <div class="title">
                全部频道
                <div class="close-menu"></div>
            </div>
            <h2>资讯</h2>
            <ul>
                <li><a href="//m.ieduchina.com/school/">校园资讯</a></li>
                <li><a href="//m.ieduchina.com/parents/">家庭教育</a></li>
                <li><a href="//m.ieduchina.com/training/">升学资讯</a></li>
                <li><a href="//m.ieduchina.com/abroad/">留学资讯</a></li>
                <li><a href="//m.ieduchina.com/immigration/">移民资讯</a></li>
            </ul>

            <h2>投稿</h2>
            <ul>
                <li><a href="//m.ieduchina.com/login.html">发布微头条</a></li>
            </ul>

            <h2>学校</h2>
            <ul>
                <li><a href="//schoollist.m.ieduchina.com/schlist/c2/">国际学校</a></li>
                <li><a href="//schoollist.m.ieduchina.com/schlist/c1/">海外学校</a></li>
            </ul>
            <h2>活动</h2>
            <ul>
                <li><a href="//m.ieduchina.com/huodong/">全部活动</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=1">开放日</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=2">冬/夏令营</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=3">培训</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=4">教育展</a></li>
                <li><a href="//m.ieduchina.com/huodong/?type=5">直播</a></li>
            </ul>
        </div>
    </div>
</header>