<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>国际教育网-面向家长的国际学校升学教育门户</title>
<link href="//m.ieduchina.com/favicon.ico" rel="Shortcut Icon">
<meta name="keywords" content="国际教育,国际学校,教育门户">
<meta name="description" content="国际教育网是汇集了海内外前沿的国际教育门户网站，涵盖北京、上海、广州、深圳等全国数千家国际学校排名学费及招生报名资讯，为K12家长提供全面升学指导、为孩子提供专业的国际课程、助力备考升学。">